{% import "shop/macros/errors.html" as errList %}
<form method="post" class="login-form" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="users/login">
    <input type="hidden" name="redirect" value="shop/checkout/addresses">
    <div class="box">
        <div class="row has-text-left">
            <div class="input-wrapper col-xs-12 c-fieldset">
                <label for="email">Email *</label>
                <input class="login-form__login-email c-input {% if message is defined and message.getErrors('loginName') is not empty %}error{% endif %}"
                       aria-label="Email" placeholder="Email *" required id="loginName" type="email" name="loginName"
                       value="{{ craft.session.rememberedUsername }}">
            </div>
            <div class="input-wrapper u-pos-rel col-xs-12 c-fieldset">
                <label for="password">Password *</label>
                <password  {% if message is defined and message.getErrors('password') is not empty %}hasError="true"{% endif %}></password>
                {{ message is defined and message ? errList.errorList(message.getErrors('password')) }}
            </div>
        </div>
        <div class="row">
            <div class="input-wrapper col-xs-12 c-fieldset">
                <label>
                    <input class="login-form__remember" aria-label="Remember Me" checked type="checkbox"
                           name="rememberMe" value="1">
                    Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-wrapper col-xs-12">
            <button class="c-button c-button--large c-button--cta-blue">  <i class="icon-lock"></i> Sign In</button>
        </div>
    </div>

</form>