{% extends 'shop/_layouts/main' %}
{% import "shop/macros/product.html" as prodmac %}

{% set avgRating =  craft.commentsrating.elementAvgRatings(product.id) %}
{% set qualifyFreeShipping = craft.commerce.cart.totalPrice >= siteSettings.freeShipping %}
{% set amountQualify = siteSettings.freeShipping - craft.commerce.cart.totalPrice %}
{% set productStock = product.defaultVariant.stock %}
{% set isStockLessOunce = (productStock < 28) ? true : false %}
{% set shippingamount = qualifyFreeShipping ? 'with <span class="product-shipping-cost product-shipping-cost--free">Free Shipping!</span>' : ' + <span class="product-shipping-cost product-shipping-cost--paid">$'~ siteSettings.shippingFlatCost  ~' Shipping</span>' %}
{% set variantInfo = {} %}

 {% block breadcrumbs %}
     {% include 'shop/_includes/_breadcrumb' %}
 {% endblock %}

{% block main %}
    <section class="shop product-page product-listing-app content-section">
        <div class="container-fluid wrapper">
            <div class="row center-xs start-lg">
                <div class="col-xs-12">
                    <article class="product">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="product-images has-text-centered">
                                    {% for productImage in product.productImages %}
                                        {% include 'shop/_includes/product/productpage/_productImages' %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="row text-align-left">
                                    <div class="col-xs-12">
                                        <h1 class="product-heading">{{ product.title }}</h1><h4
                                                class="product-strain-type {{ product.strainType.first().slug }}">
                                            {{ product.strainType.first().slug|first|upper }}
                                        </h4> {{ prodmac.starRating(avgRating) }}


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs">
                                        <div class="product-price-hook">
                                            <div class="price-info">
                                                <b><span class="price dynamic-price">{| salePrice |}</span></b>{{ shippingamount | raw }}
                                            </div>
                                            {% if product.defaultVariant.onSale %}
                                                <i><span class="sale">Save {| savings |} <strike>(reg {| price |})</strike></span></i>
                                            {% endif %}
                                            {% if not qualifyFreeShipping %}
                                                <div class="shipping-message"> Order <span
                                                            class="amount-to-free-shipping">{{ amountQualify | commerceCurrency(cart.currency) }}</span>
                                                    more to qualify for free shipping.
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="product-commerce">
                                            {% include 'shop/_includes/product/productpage/_productForm' %}
                                            <div class="share-links">
                                                <span>Share: </span>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ product.url | url_encode }}"
                                                   class="fb-share share-link" rel="noopener" target="_blank"><i
                                                            class="icon-facebook-official"></i></a>
                                                <a href="https://twitter.com/home?status={{ product.url | url_encode }}"
                                                   class="tw-share share-link" rel="noopener" target="_blank"><i
                                                            class="icon-twitter"></i></a>
                                                <a href="mailto:?&body={{ product.url | url_encode }}"
                                                   class="email-share share-link" rel="noopener"
                                                   target="_blank" ><i class="icon-mail"></i></a>
                                                <a href="https://pinterest.com/pin/create/button/?url={{ product.url | url_encode }}"
                                                   class="pin-share share-link" rel="noopener" target="_blank"><i
                                                            class="icon-pinterest-squared"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="product-footer">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <h2>Details</h2>
                                    <div class="product-description box">
                                        {{ product.productDescription }}
                                    </div>
                                    <div class="product-attributes">
                                        {% for attribute in product.productAttributes %}
                                            {% if attribute.type == 'effects' %}
                                                {{ attribute.effectTerm.first.title | t }}
                                                <progress class="progress is-large is-info effects-term"
                                                          value="{{ attribute.effectPercentage }}"
                                                          max="100"></progress>
                                            {% else %}
                                                {{ attribute.medicalSymptom.first.title |t }}
                                                <progress class="progress is-large is-success medical-term"
                                                          value="{{ attribute.medicalEffectPercentage }}"
                                                          max="100"></progress>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                <h2>Reviews</h2>
                                <div class="box">
                                {%  set ratings = craft.commentsrating.elementRatings(product.id)%}
                                   {% set params = {
                                    order: 'dateCreated desc',
                                    } %}
                                    {{ craft.comments.form(product.id, params) }}
                            </div>
                            </div>
                        </footer>
                </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}

 {% block scripts %}
     {% minify js %}
     <script type="text/javascript">

         var data = {
             stockModalOpen: false,
             modalClass: '',
             notifyEmailShow: false,
             price: "{{ product.defaultVariant.salePrice| commerceCurrency(cart.currency) }}",
             salePrice: "{{ product.defaultVariant.price| commerceCurrency(cart.currency) }}",
             savings: "{{ (product.defaultVariant.price - product.defaultVariant.salePrice) | commerceCurrency(cart.currency) }}"
         };
         var methods = {
             toggleStockModal: function() {
                 this.stockModalOpen = !this.stockModalOpen;
                 this.stockModalOpen ? this.modalClass = "is-active" : this.modalClass = "";
             },
             toggleVariant: function(e) {
                 this.price = e.target.dataset.price;
                 this.salePrice = e.target.dataset.salePrice;
                 this.savings = e.target.dataset.saved;
             },
             notifyEmailShowSubmit: function(e) {
                 if(this.notifyEmailShow){
                     e.target.click();
                 }
                 this.notifyEmailShow = !this.notifyEmailShow;
             }
         };


         thcpost.vueParams.data = Object.assign(thcpost.vueParams.data, data);
         thcpost.vueParams.methods = Object.assign(thcpost.vueParams.methods, methods);
     </script>
     {% endminify %}
 {% endblock %}
{% includeCssFile "/static/assets/zoom/mz.min.css" %}
{% includeJsFile "/static/assets/zoom/magiczoomplus.js" %}
