{% extends 'shop/_layouts/main' %}
{% import "shop/macros/product.html" as prodmac %}

{% set avgRating =  craft.commentsrating.elementAvgRatings(product.id) %}
{% set qualifyFreeShipping = craft.commerce.cart.totalPrice >= siteSettings.freeShipping %}
{% set amountQualify = siteSettings.freeShipping - craft.commerce.cart.totalPrice %}
{% set productStock = product.defaultVariant.stock %}
{% set isStockLessOunce = (productStock < 28) ? true : false %}
{% set shippingamount = qualifyFreeShipping ? 'with <span class="product-shipping-cost product-shipping-cost--free">Free Shipping!</span>' : ' + <span class="product-shipping-cost product-shipping-cost--paid">$'~ siteSettings.shippingFlatCost  ~' Shipping</span>' %}
{% set variantInfo = {} %}
{#
 {% block breadcrumbs %}
     {% include 'shop/_includes/_breadcrumb' %}
 {% endblock %}#}

{% block main %}
    <section class="shop product-page product-listing-app content-section">
        <div class="wrapper">
                    <article class="product card">
                        <header class="product-header">
                            <div class="product-images has-text-centered card-image">

                                {% cache  globally using key "product-images-" ~ craft.request.path%}
                                    {% minify %}
                                    {% for productImage in product.productImages %}
                                        {% include 'shop/_includes/product/productpage/_productImages' %}
                                    {% endfor %}
                                    {% endminify %}
                                {% endcache %}

                            </div>
                                <div class="row center-xs">
                                    <div class="col-xs-12 col-sm-6">
                                   <h1 class="product-heading">{{ product.title }}</h1>
                                    <div class="ratings">{{ prodmac.starRating(avgRating) }}</div>
                                    {% include 'shop/_includes/product/productpage/_productForm' %}
                                    {% include 'shop/_includes/product/productpage/_productShareLinks' %}
                                </div>
                                </div>
                        </header>
                        <footer class="product-footer">
                            <div class="product-details-tabs c-tabs">
                                <ul class="c-list--clean card-footer">
                                    <li class="card-footer-item ">Details</li>
                                    <li class=" card-footer-item ">Attributes</li>
                                    <li class=" card-footer-item ">Reviews</li>
                                </ul>
                           <div class="card-content">
                            <tabs>
                                <tab name="Details" id="details" :selected="true">
                                    <div class="product-description">{{ product.productDescription }}</div>
                                </tab>
                                <tab name="Effects" id="effects">
                                    <div class="product-effects">
                                        {% for attribute in product.productAttributes %}
                                            {% if attribute.type == 'effects' %}
                                                {{ attribute.effectTerm.first.title | t }}
                                                <progress class="progress is-large is-info effects-term"
                                                          value="{{ attribute.effectPercentage }}"
                                                          max="100"></progress>
                                            {% else %}
                                                {{ attribute.medicalSymptom.first.title |t }}
                                                <progress class="progress is-large is-success medical-term"
                                                          value="{{ attribute.medicalEffectPercentage }}"
                                                          max="100"></progress>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </tab>
                                <tab name="Reviews">
                                    <div class="product-reviews">
                                        {% set ratings = craft.commentsrating.elementRatings(product.id) %}
                                        {% set params = {order: 'dateCreated desc'} %}
                                        {{ craft.comments.form(product.id, params) }}
                                    </div>
                                </tab>
                            </tabs>
                           </div>
                            </div>
                        </footer>
                </article>
                </div>
    </section>
{% endblock %}
{% includeCssFile "/static/assets/zoom/mz.min.css" %}
{% includeJsFile "/static/assets/zoom/magiczoomplus.js" %}
