{% extends 'shop/_layouts/main' %}
{% block main %}
<article class="product">
    <header class="product-header">
        <div class="product-header-left">
            <h1>{{ product.title }}</h1>
        </div>
        <div class="product-header-right">
            <div class="product-potency">
                <span class="chem-amount thc-amount">{{ product.thcPercentage }}</span>
                :
                <span class="chem-amount cbd-amount">{{ product.cbdPercentage }}</span>
            </div>
        </div>
        <div class="product-images">

        </div>
        <div class="product-price-hook">

        </div>
    </header>
    <section class="product-commerce">
        <form method="POST" id="addToCartForm">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="commerce/cart/updateCart">
            <input type="hidden" name="redirect" value="/cart">
            <input type="hidden" name="purchasableId" value="{{ product.id }}">
            <input type="number" name="qty">
        </form>
        <button class="c-button add-to-cart">Add to Cart</button>
        <div class="share-links"></div>
    </section>

</article>

{% endblock %}
