{% extends 'shop/_layouts/main' %}
{% block main %}
    {% import "shop/macros/product.html" as prodmac %}
    {% set params = {with: ['productImages']} %}
    {% set formParams = {'productParam' : ''} %}
    {% set categoriesArray = ['or'] %}
    {% if craft.request.getPost() %}
        {% set formResults = craft.request.getPost() %}
        {% set formParams = formParams|merge(formResults) %}
        {% for postVarName,postVarValue in formResults  %}
            {% switch postVarName %}
            {% case "sale" %}
                {% set params = params|merge({hasSales : true}) %}
            {% case "sativa" or "indica" or "hybrid" %}
                {% set category = craft.categories.slug(postVarName).ids() %}
                {% set categoriesArray = categoriesArray|merge([{targetElement: category,}]) %}
                {% set params = params|merge({relatedTo : categoriesArray}) %}
            {% case "oil" %}
                {% set params = params|merge({type : 'Oil'}) %}
            {% case "stock" %}
                {% set params = params|merge({hasVariant:{hasStock : true}}) %}
            {% case "sortBy" %}
                    {% if postVarValue == "new" %}
                        {% set params = params|merge({order : 'postDate DESC'}) %}
                    {% elseif postVarValue == "htl" %}
                        {% set params = params|merge({order : 'defaultPrice DESC'}) %}
                    {% elseif postVarValue == "lth" %}
                        {% set params = params|merge({order : 'defaultPrice ASC'}) %}
                    {% endif %}
            {% endswitch %}
        {% endfor %}
    {% endif %}
    {% if craft.request.getParam('cat') is not null %}
        {% set productParam = craft.request.getParam('cat') %}
        {% set formParams = {'productParam' : productParam} %}
        {% switch productParam %}
        {% case "sale" %}
            {% set params = params|merge({hasSales : true}) %}
        {% case "sativa" or "indica" or "hybrid" %}
            {% set category = craft.categories.slug(productParam).ids() %}
            {% set categoriesArray = categoriesArray|merge([{targetElement: category,}]) %}
            {% set params = params|merge({relatedTo : categoriesArray}) %}
        {% case "organic" %}

        {% case "concentrates" %}
            {% set params = params|merge({type : 'Oil'}) %}
        {% endswitch %}
    {% endif %}
    {% set products = craft.commerce.products(params) %}
    {% macro productForm(params) %}
        {% if params %}
            <div class="form-filter-wrapper">
            <h5 class="form-filter-toggle is-black" @click="toggleFilters"><i :class="icon"></i>Filters</h5>
            <form id="product_filters_form" :class="formState + ' is-black'" action="{{ url('shop/') }}" method="POST" {#@submit.prevent="getProducts"#}>
                {{ getCsrfInput() }}
                {% set form = {'checkboxes' : [{name: 'sativa', value: '1'},{name: 'indica', value: '1'},{name: 'hybrid', value: '1'},{name: 'oil', value: '1'},{name: 'sale',value: '1'},
                    {name: 'stock', value: '1', label: 'In Stock'}],
                'select' : {
                    name:'sortBy',
                    options: [{name: 'Latest Products', value: 'new'},{name: 'Price: Low to High', value: 'lth'},{name: 'Price: High to Low', value: 'htl'}]
                }
                } %}
                <fieldset class="c-fieldset c-fieldset--border">
                    <div class="product-cat-checkboxes row">
                        {% for cbk in form.checkboxes %}
                            <div class="col-xs-4 col-sm-3">
                                <div class="row start-xs">
                                    <div class="col-xs-12">
                                <input  v-model="form.{{ cbk.name }}"
                                       {% if params.productParam == cbk.name or (params[cbk.name] is defined and params[cbk.name] == '1') %}checked{% endif %}
                                       type="checkbox"
                                         id="{{ cbk.name }}" name="{{ cbk.name }}"
                                       value="{{ cbk.value }}">
                                <label for="{{ cbk.name }}">{% if cbk.label is defined and cbk.label != '' %}{{ cbk.label | title }}{% else %}{{ cbk.name | capitalize }}{% endif %}</label>
                            </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="input-wrapper col-xs-12 col-sm-6 col-md-6">
                            <select v-model="form.sortBy" class="c-input-option" aria-label="Sort Product By" name="sortBy" id="sortBy">
                                {% for option in form.select.options %}
                                    <option {% if loop.index == 1 and params[form.select.name] is not defined %}selected{% endif %} value="{{ option.value }}"
                                            {% if params[form.select.name] is defined and params[form.select.name] == option.value %}selected{% endif %}>{{ option.name | title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="input-wrapper col-xs-12">
                                <div class="form-controls form-controls--product-filters">
                                    <button class="c-button c-button--cta-black c-button--mrg-bttm" type="submit">Submit</button>
                                    <button class="c-button c-button--cta-black c-button--mrg-bttm" @click="resetForm" type="reset">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            </div>
        {% endif %}
    {% endmacro %}
    {%  set vue %}
        new Vue({
        el: '.product-listing-app',
        delimiters: ['{|', '|}'],
        data: {
            form: new Form({
                sativa: {{ formParams['sativa'] is defined or formParams['productParam'] == 'sativa' ? 'true' : 'false' }},
                indica: {{ formParams['indica'] is defined or formParams['productParam'] == 'indica' ? 'true' : 'false' }},
                hybrid: {{ formParams['hybrid'] is defined or formParams['productParam'] == 'hybrid' ? 'true' : 'false' }},
                oil: {{ formParams['oil'] is defined or formParams['productParam'] == 'concentrates' ? 'true' : 'false' }},
                stock: {{ formParams['stock'] is defined ? 'true' : 'false' }},
                sale: {{ formParams['sale'] is defined or formParams['productParam'] == 'sale' ? 'true' : 'false' }},
                sortBy: '{{ formParams['sortBy'] is defined ?  formParams['sortBy']  : 'new' }}'
            }),
            filtersExposed: false,
            icon: 'icon-plus-1',
            formState: 'product-filters-form--closed'
        },
        methods: {
            toggleFilters: function() {
                this.filtersExposed = !this.filtersExposed;
                this.filtersExposed ? this.icon = "icon-minus" : this.icon = "icon-plus-1";
                this.filtersExposed ? this.formState = "product-filters-form--open" : this.formState = "product-filters-form--closed";
            },
            getProducts(){
                this.form.submit();
            },
            resetForm(){
                this.form.reset();
            }
        },
        });
        {% endset %}
    {%  includeJs vue %}
    {% from _self import productForm %}
   {# {{ d(formParams) }}#}
    <section class="shop product-listings product-listing-app">
        <div class="wrapper container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Shop</h1>
                    <div class="product-filters-wrapper row center-xs">
                        <div class="col-xs-12 col-sm-8 col-md-6">
                            {{ params is defined and params ? productForm(formParams) }}
                        </div>
                    </div>
                    <div class="products-list row">
                        {% cache  globally using key "products-" ~ craft.request.path %}
                        {% for product in products %}
                            <div class="col-xs-12 col-psm-6 col-sm-6 col-md-4 col-lg-3">
                            <a id="product_card_{{ loop.index }}"
                               class="product-card product-card--{{ product.strainType.first().slug }} product-card--{{ product.type }} "
                               href="{{ product.url }}">
                                <header class="product-card-header">
                                    {% set image = product.productImages[0] ?? null %}
                                {% if image %}
                                    {% set transformedImages = craft.imager.transformImage(image,
                                    [{ width: 460, ratio: 1 , jpegQuality: 85}],
                                    {format: 'jpg',	allowUpscale: false, mode: 'crop', jpegQuality: 90,	position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%', interlace: true}
                                    ) %}
                                    {% if craft.imager.serverSupportsWebp() %}
                                        {% set transformedImagesWebP = craft.imager.transformImage(image,[{width: 460, ratio: 1, webpQuality: 85}],
                                        { format: 'webp', allowUpscale: false, mode: 'crop', position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%', interlace: true }) %}
                                    {% endif %}
                                    <picture class="full-width">
                                        {% if craft.imager.serverSupportsWebp() %}
                                            <source class="product-cat__image" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImagesWebP) }}" type="image/webp">
                                        {% endif %}
                                        <img class="product-card__image"
                                             src="{{ transformedImages[0].url }}"
                                             sizes="100vw"
                                             srcset="{{ craft.imager.srcset(transformedImages) }}"
                                             alt="{{ image.title }}">

                                    </picture>
                                {% endif %}
                                    <div class="product-card__overlay">
                                        {% if product.defaultVariant.onSale %}
                                            <div class="product-card__ribbon product-card__ribbon--sale">
                                                <span>Sale</span>
                                            </div>
                                        {% endif %}

                                        {% if product.totalStock < 1 %}
                                            <div class="product-card__ribbon product-card__ribbon--out-of-stock">
                                                <p><strong>Out of Stock</strong></p>
                                            </div>
                                        {% endif %}
                                    </div>
                                </header>
                                <footer class="product-card-footer">
                                <div class="product-card__information">
                                    <div class="product-title-wrapper">
                                        <h3 class="product-title has-text-centered">{{ product.title }}</h3>
                                    </div>
                                    <div class="product-info-wrapper">
                                    <div class="media">
                                        <div class="media-left">

                                                <div class="product-details-wrapper">
                                                    <h4 class="product-strain-type {{ product.strainType.first().slug }}">
                                                        {{ product.strainType.first().slug|first|upper }}
                                                    </h4>
                                                </div>

                                        </div>

                                    <div class="media-content">
                                            <div class="product-price-wrapper has-text-right">
                                                {% set pLastV = product.variants|last %}
                                                {% if product.defaultVariant.onSale %}
                                                    <span class="sale-price">was  <strike>{{ prodmac.priceRange(product.defaultVariant.price, pLastV.price, pLastV.variantWeight.value, cart) }}</strike></span>
                                                {% endif %}
                                                <span class="price"><b>{{ prodmac.priceRange(product.defaultVariant.salePrice, pLastV.salePrice, pLastV.variantWeight.value, cart) }}</b></span>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                </footer>
                            </a>
                            </div>
                        {% endfor %}
                        {% endcache %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}