{% extends 'shop/_layouts/main' %}
{% block main %}
    {% set params = {with: ['productImages']} %}
    {% set formParams = [] %}
    {% if craft.request.getParam('cat') is not null %}
        {% set productParam = craft.request.getParam('cat') %}
        {% set formParams = formParams|merge([{'productParam' : productParam}]) %}
        {% set categoriesArray = ['and'] %}

        {% switch productParam %}
        {% case "sale" %}
            {% set params = params|merge({hasSales : true}) %}
        {% case "sativa" or "indica" or "hybrid" %}
            {% set category = craft.categories.slug(productParam).ids() %}
            {% set categoriesArray = categoriesArray|merge([{targetElement: category,}]) %}
            {% set params = params|merge({relatedTo : categoriesArray}) %}
        {% case "organic" %}

        {% case "concentrates" %}
            {% set params = params|merge({type : 'Oil'}) %}
        {% endswitch %}
{{ d(params) }}
        {% set products = craft.commerce.products(params) %}

    {% else %}
        {% set products = craft.commerce.products.find() %}
    {% endif %}

    {% macro productForm(params) %}
        {% if params %}
            <form id="product_filters_form" action="{{ url('shop/') }}" method="POST" @submit.prevent="getProducts">
                <fieldset>
                <div class="product-cat-checkboxes row">
                    <div class="col-xs-3">
                        <input v-model="form.sativa" @click="this.submit" type="checkbox" @click="this.submit" id="sativa" name="sativa" value="1">
                        <label for="sativa">Sativa</label>
                    </div>
                    <div class="col-xs-3">
                        <input type="checkbox" v-model="form.indica" id="indica" name="indica" value="1">
                        <label for="indica">Indica</label>
                    </div>
                    <div class="col-xs-3">
                        <input type="checkbox" v-model="form.hybrid" id="hybrid" name="hybrid" value="1">
                        <label for="hybrid">Hybrid</label>
                    </div>
                    <div class="col-xs-3">
                        <input type="checkbox" v-model="form.oil" id="oil" name="oil" value="1">
                        <label for="oil">Concentrates</label>
                    </div>
                </div>
                </fieldset>
                <fieldset class="c-fieldset">
                <div class="filter-checkboxes row">
                    <div class="col-xs-3">
                        <input type="checkbox" id="onsale" name="onsale" value="1">
                        <label for="onsale">Sale</label>
                    </div>
                    <div class="col-xs-3">
                        <input type="checkbox" id="instock" name="instock" value="1">
                        <label for="instock">In Stock</label>
                    </div>
                </div>
                </fieldset>
                <div class="row">
                    <div class="input-wrapper col-xs-12 c-fieldset">
                        <select class="c-input-option" aria-label="Inquiry Type" v-model="selected" name="message[inquiryType]"
                                id="inquiryType">
                            <option value="new" selected>Newest</option>
                            <option value="lth" >Price: Low to High</option>
                            <option value="htl">Price: High to Low</option>
                        </select>
                    </div>
                </div>
            </form>
        {% endif %}
    {% endmacro %}
    {% from _self import productForm %}
    <section class="shop product-listings u-bg-pink-pastelle">
        <div class="wrapper container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Shop</h1>
                    <div class="product-filters-wrapper">
                        {{ params is defined and params ? productForm(params) }}
                    </div>
                    <div class="products-list row">
                        {% for product in products %}
                            <a id="product_card_{{ loop.index }}"
                               class="product-card product-card--{{ product.strainType.first().slug }} product-card--{{ product.type }} col-xs-12 col-sm-6 col-md-4 col-lg-3"
                               href="{{ product.url }}">
                                {% set image = product.productImages[0] ?? null %}
                                {% if image %}
                                    <picture class="full-width">
                                        <img class="product-card__image"
                                             src="{{ image.url }}"
                                             sizes="100vw"
                                             srcset=""
                                             alt="{{ image.title }}">
                                    </picture>
                                {% endif %}
                                <div class="product-card__overlay">
                                    {% if product.defaultVariant.onSale %}
                                        <div class="product-card__ribbon product-card__ribbon--sale">
                                            <span>Sale</span>
                                        </div>
                                    {% endif %}
                                    <div class="product-card__information">
                                        <div class="product-title-wrapper">
                                            <h3 class="product-title">{{ product.title }}</h3>
                                        </div>
                                        <div class="product-price-wrapper">
                                            {% if product.defaultVariant.onSale %}
                                                <span class="sale-price">was  <strike>{{ product.defaultVariant.price|commerceCurrency(cart.currency) }}</strike></span>
                                            {% endif %}
                                            <span class="price">{{ product.defaultVariant.salePrice|commerceCurrency(cart.currency) }}</span>
                                        </div>
                                    </div>
                                    {% if product.totalStock < 1 %}
                                        <div class="product-card__ribbon product-card__ribbon--out-of-stock">
                                            <span>Out of Stock</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}