{% extends 'shop/_layouts/main' %}

{% block _inline_css %}
    <style>
        {{ _self.getTemplateName() }}
        {{ source (_self.getTemplateName() ~ '_critical.min.css', ignore_missing = true) }}
    </style>
{% endblock %}

{% block main %}
    {% cache globally using key craft.request.path %}
    {% minify %}
    <section class="terms-conditions content-section">
        <div class="wrapper container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-title">{{ entry.title }}</h1>
                    {% for termsGroup in entry.headerText %}

                        <div class="terms-conditions__tc">
                            <h2 class="tc__heading">{{ termsGroup.header }}</h2>
                            <p class="tc__text">{{ termsGroup.text }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endminify %}
    {% endcache %}
{% endblock %}