<header class="hero-wrapper">
    {% set imageHeroSettingJPG = [
                                {width: 1600, ratio: 16/9 , jpegQuality: 90},
                                {width: 1200, ratio: 16/9 , jpegQuality: 90},
                                {width: 1024, ratio: 16/9 , jpegQuality: 90},
                                {width: 768, ratio: 16/9 , jpegQuality: 80},
                                {width: 560, ratio: 16/9 , jpegQuality: 75},
                                {width: 420, ratio: 1 , jpegQuality: 75},
    ]%}
    {% set imageHeroSettingWebP = [
    {width: 1600, ratio: 16/9 , webpQuality: 90},
    {width: 1200, ratio: 16/9 , webpQuality: 90},
    {width: 1024, ratio: 16/9 , webpQuality: 90},
    {width: 768, ratio: 16/9 , webpQuality: 80},
    {width: 560, ratio: 16/9 , webpQuality: 75},
    {width: 420, ratio: 1 , webpQuality: 75},
    ]%}
    {% set image = entry.heroImage[0] ?? null %}
    {% if image %}
        {% set transformedImages = craft.imager.transformImage(image,
        [imageHeroSettingJPG],
        {format: 'jpg',	allowUpscale: false, mode: 'crop', jpegQuality: 90,	position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%', interlace: true}
        ) %}
        {% if craft.imager.serverSupportsWebp() %}
            {% set transformedImagesWebP = craft.imager.transformImage(image,[imageHeroSettingWebP],
            { format: 'webp', allowUpscale: false, mode: 'crop', position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%', interlace: true }) %}
        {% endif %}
        <picture class="hero__picture">
            {% if craft.imager.serverSupportsWebp() %}
                <source class="hero__image" sizes="100vw" srcset="{{ craft.imager.srcset(transformedImagesWebP) }}" type="image/webp">
            {% endif %}
            <img class="hero__image"
                 src="{{ transformedImages[0].url }}"
                 sizes="100vw"
                 srcset="{{ craft.imager.srcset(transformedImages) }}"
                 alt="{{ image.title }}">

        </picture>
    {% endif %}
    <div class="hero__overlay">
        <div class="center-content">
            <div class="wrapper container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="about__section-header">{{ entry.aboutSectionHeader }}</h2>
                        <div class="about__short-description">{{ entry.aboutBlurb }}</div>
                        <a class="c-button c-button--large c-button--cta-black" href="/our-story">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
