<div class="col-xs-12 col-psm-6 col-sm-4">
<article id="tout_{{ loop.index }}" class="tout">
    <header class="tout-header">
        {% set image = tout.toutImage[0] ?? null %}
        {% if image %}
            <picture class="full-width">
                <img class="tout__image"
                     src="{{image.url }}"
                     alt="{{ image.title }}">
            </picture>
        {% endif %}
    </header>
    <footer class="tout__footer">
        <div class="tout__information">
            <div class="tout-title-wrapper">
                <h4 class="tout-title has-text-centered">{{ tout.toutTitle }}</h4>
            </div>
            <div class="tout-info-wrapper">
                <div class="media">
                    <div class="media-content">
                        <p class="tout__text has-text-centered">{{ tout.toutBlurb }}</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</article>
</div>