{% import "shop/macros/product.html" as prodmac %}
<article class="comment media">
    <div class="media-content">
        <div class="content">
            <strong>Good Seeds Customer</strong>
                <small>
                    <time itemprop="commentTime" datetime="{{ comment.dateCreated | date('c') }}">
                        {{ comment.dateCreated | date('M jS, Y') }}
                    </time>
                </small>
                {{ prodmac.starRating(craft.commentsrating.commentRating(comment.id)) }}
                 <div class="comment"> {{ comment.comment | nl2br }}</div>

                {% if currentUser and (comment.canEdit() or comment.canTrash()) %}

                    <div class="comment-edit-controls">
                        {% if comment.canEdit() %}
                            <a onclick="document.getElementById('comment_edit_form_{{ comment.id }}').style.display = 'block';" class="comment-action">Edit</a>
                        {% endif %}
                        {% if comment.canTrash() %}
                            <a href="{{ comment.trashActionUrl }}" class="comment-action">Delete</a>
                        {% endif %}
                    </div>
                {% endif %}

        </div>

       {# Inline edit form (initially hidden) - only available on approved comment #}
    {% if not comment.isFlagged and not comment.isPoorlyRated  %}
        {% include 'shop/comments/_forms/templates/form-edit' %}
    {% endif %}

    </div>
</article>
