<article class="comment">
    <div class="media-content">
        <div class="content">
            <p>
                {{ craft.commentsrating.commentRating(comment.id) }}
                <strong>THCPOST Customer</strong>
                <small>
                    <time itemprop="commentTime" datetime="{{ comment.dateCreated | date('c') }}">
                        {{ comment.dateCreated | date('M jS, Y') }}
                    </time>
                </small>
                <br>
                {{ comment.comment | nl2br }}
                {% if currentUser and (comment.canEdit() or comment.canTrash()) %}
                    <br>
                    <small>
                        {% if comment.canEdit() %}
                            <a class="comment-action">Edit</a>
                        {% endif %}
                        {% if comment.canTrash() %}
                            <a href="{{ comment.trashActionUrl }}" class=comment-action">Delete</a>
                        {% endif %}
                    </small>
                {% endif %}
            </p>
        </div>

       {# Inline edit form (initially hidden) - only available on approved comment #}
    {% if not comment.isFlagged and not comment.isPoorlyRated  %}
        {% include 'shop/comments/_forms/templates/form-edit' %}
    {% endif %}

    </div>
</article>
