{% import "shop/macros/errors.html" as errList %}

{% set activeComment = craft.comments.getActiveComment() %}
<article class="media comment-form">
    <div class="media-content">
        <form class="form-inline comment-form" role="form" action="" method="post" accept-charset="UTF-8">
            <input type="hidden" name="action" value="comments/save">
            <input type="hidden" name="elementId" value="{{ element.id }}">

            {% if comment is defined %}
                {% if comment.id %}<input type="hidden" name="parentId" value="{{ comment.id }}">{% endif %}
            {% endif %}

            {# Anti-spam and security measures #}
            {{ craft.comments.protect() }}
            {{ getCsrfInput() }}

            <div class="field">
                <label for="rate_product" class="label">Rating</label>
                <div class="control">
                    <div class="select">
                        <select id="rate_product" name="fields[commentsRating]">
                            <option value="2">1</option>
                            <option value="3">1.5</option>
                            <option value="4">2</option>
                            <option value="5">2.5</option>
                            <option value="6">3</option>
                            <option value="7">3.5</option>
                            <option value="8">4</option>
                            <option value="9">4.5</option>
                            <option value="10" selected>5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <p class="control">
                <textarea class="c-textarea" name="fields[comment]" placeholder="Your comments">
                             {{- attribute(activeComment, 'comment') | trim -}}
                </textarea>
                    {% if activeComment is defined %}
                <div class="comment-errors-container">
                    {{errList.errorList(activeComment.getErrors('comment')) }}
                </div>
                {% endif %}
                </p>

            </div>
            <div class="field">
                <p class="control">
                    <button type="submit" class="c-button c-button--cta-black c-button--small">Review</button>
                </p>
            </div>
        </form>
    </div>
</article>




