{# Only allow logged-in users to edit, they also can only edit their own comments #}
{% if comment.canEdit() %}
    <form class="edit-comment-form" id="comment_edit_form_{{ comment.id }}" role="form" method="post" style="display:none;">
        <input type="hidden" name="action" value="comments/edit">
        <input type="hidden" name="elementId" value="{{ element.id }}">
        <input type="hidden" name="commentId" value="{{ comment.id }}">
        
        {# Anti-spam and security measures #}
        {{ craft.comments.protect() }}
        {{ getCsrfInput() }}

        <div class="input-wrapper c-fieldset">
            <label for="rate_product">Rating *</label>
            <div class="field-control">
                <select id="rate_product" class="c-input-option u-max-width--input" name="fields[commentsRating]">
                    <option value="2">1</option>
                    <option value="3">1.5</option>
                    <option value="4">2</option>
                    <option value="5">2.5</option>
                    <option value="6">3</option>
                    <option value="7">3.5</option>
                    <option value="8">4</option>
                    <option value="9">4.5</option>
                    <option value="10" selected>5</option>
                </select>
            </div>
        </div>

        <div class="input-wrapper c-fieldset">
            <label for="fields[comment]">Comment *</label>
            <div class="field-comment-container">
                    <textarea class="c-textarea u-max-width--input" id="fields[comment]" name="fields[comment]" placeholder="Your comments">
                                 {{- comment.comment | trim -}}
                    </textarea>
            </div>
            {% if activeComment is defined %}
                <div class="comment-errors-container">
                    {{errList.errorList(activeComment.getErrors('comment')) }}
                </div>
            {% endif %}

        </div>
        <div class="input-wrapper c-fieldset">
            <button type="submit" class="c-button c-button--cta-black c-button--small">Save Review</button>
        </div>
        
    </form>
{% endif %}