{% set showNav = false %}

{% extends 'shop/_layouts/main' %}

{% block header %}
    {% include 'shop/_includes/checkoutHeader' %}
{% endblock %}

{% block main %}
<section class="content-section checkout-page">
    <div class="wrapper container-fluid">
        <div class="row center-xs">
            <div class="col-xs-12 col-md-10 col-lg-7">
                <h1>Checkout</h1>
                <div class="breadcrumb has-succeeds-separator is-centered">
                    {% include 'shop/_includes/meter' %}
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
    {% include "shop/_includes/checkoutFooter" %}
{% endblock %}
