{% set page = craft.request.getSegment(2) %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!--<link rel="stylesheet" type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" />-->
        <link rel="stylesheet" type='text/css'
              href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="{{ 'assets/css/app.css' | gulp_rev }}"/>
    {% endblock %}
</head>
<body class="u-bg-pastel-green">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
{% if not currentUser and not getSecureCookie('ageVerified') %}
    {% include "shop/_includes/ageVerificationModal" %}
    {% do craft.cookies.setSecure('ageVerified', 'true',  now | date_modify("+30 days").timestamp  ) %}
{% endif %}

{% set cart = craft.commerce.cart %}

{% block header %}
    {% include "shop/_includes/header" %}
{% endblock %}

{% block body %}
    <main id="main" class="main">
        {% block messages %}
            {% set messageNotice = craft.session.getFlash( 'notice' ) %}
            {% set messageError = craft.session.getFlash( 'error' ) %}
            {% if messageNotice %}
                <div class="flash flash-notice u-bg-pastel-green">
                    <div class="wrapper container-fluid">
                        <div class="row center-xs">
                            <div class="col-xs-12">
                                {{ messageNotice }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if messageError %}

                <div class="flash flash-errors u-bg-red">
                    <div class="wrapper container-fluid">
                        <div class="row center-xs">
                            <div class="col-xs-12">
                                {{ messageError }}
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            {% endif %}
        {% endblock %}
        {% block promotions %}
        {% endblock %}
        {% block main %}
        {% endblock %}
    </main>
{% endblock %}
{% block footer %}
    {% include "shop/_includes/footer" %}
{% endblock %}
{% include "shop/_includes/fixedFooterNav" %}
<script src="{{ 'assets/js/app.js' | gulp_rev }}"></script>
</body>
</html>
