{% set page = craft.request.getSegment(2) %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    {# -- inline since its small loadjs -- #}
    <script>
        {{ source('shop/_inlinejs/loadjs.min.js') }}
    </script>
    <script>
        // define a dependency bundle
        loadjs(
            [
                '{{ siteUrl }}assets/js/vue.min.js'
            ],
            'vue'
        );
        loadjs.ready('vue', {
            success: function() {
                // Vue is now loaded and ready to use
            }
        });
    </script>
    <link rel="stylesheet" type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" />
    <link rel="stylesheet" type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <!--<link rel="stylesheet" type='text/css' href="{{ url('shop/style.css') }}">-->
    <link rel="stylesheet" href="{{ 'assets/css/app.css' | gulp_rev }}" />
    <script src="{{ 'assets/js/app.js' | gulp_rev }}"></script>
    {% endblock %}
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{% set cart = craft.commerce.cart %}

{% block header %}
{% include "shop/_includes/header" %}
{% endblock %}

{% block body %}
	<div id="main" class="container">
        {% block messages %}
            <div class="flash flash-notice">{{ craft.session.getFlash('notice') }}</div>
            <div class="flash flash-errors">{{ craft.session.getFlash('error') }}</div>

            <div class="row">
                <div class="twelve columns">
                    {% for error in cart.errors %}
                    <div class="flash">{{ error|join(' ') }}</div>
                    {% endfor  %}
                </div>
            </div>
        {% endblock %}
        {% block promotions %}
        {% endblock %}
		{% block main %}

		{% endblock %}
	</div>
{% endblock %}
{% block footer %}
    {% include "shop/_includes/footer" %}
{% endblock %}
{% include "shop/_includes/fixedFooterNav" %}
<script>
    new Vue({
        el: '#nav-menu',
        delimiters: ['${', '}'],
        data: {
            menuOpen: false,
        },
        methods: {
            toggle: function() {
                this.menuOpen = !this.menuOpen;
            }
        },
    });
</script>
</body>
</html>
