{% extends 'shop/_layouts/main' %}
 {% if not currentUser %}
     {% redirect '/' %}
 {% endif %}
{% import "shop/macros/errors.html" as errList %}
{% import "shop/macros/account.html" as accountFunctions %}
{% block main %}
    <section class="content-section">
        <div class="wrapper container-fluid">
            <div class="row center-xs">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    {% if currentUser %}
                    <h1 class="page-title">Change Password</h1>
                    {{ accountFunctions.accountMenu(4) }}

                    <div class="card-content">
                        <form method="post" action="" id="action-form" accept-charset="UTF-8" enctype="multipart/form-data">
                            {{ getCsrfInput() }}
                            <input type="hidden" name="action" value="users/saveUser">
                            <input type="hidden" name="userId" value="{{ currentUser.id }}">
                            <div>
                            <div class="input-wrapper u-pos-rel col-xs-12 c-fieldset u-max-width--input has-text-left">
                                <label for="password">Current Password *</label>
                                <password id="password" name="password" {% if message is defined and message.getErrors('password') is not empty %}hasError="true"{% endif %}></password>
                                {% if account is defined %}
                                    {{errList.errorList(account.getErrors('password')) }}
                                {% endif %}
                            </div>
                            <div class="input-wrapper u-pos-rel col-xs-12 u-max-width--input c-fieldset has-text-left">
                                <label for="newPassword">New Password *</label>
                                <password id="newPassword" name="newPassword" {% if message is defined and message.getErrors('newPassword') is not empty %}hasError="true"{% endif %}></password>
                                {% if account is defined %}
                                    {{errList.errorList(account.getErrors('newPassword')) }}
                                {% endif %}
                            </div>
                            <div class="input-wrapper u-pos-rel col-xs-12 c-fieldset u-max-width--input has-text-left">
                                <label for="passwordConfirm">Confirm New Password *</label>
                                <password id="passwordConfirm" name="passwordConfirm" {% if message is defined and message.getErrors('passwordConfirm') is not empty %}hasError="true"{% endif %}></password>
                                {% if account is defined %}
                                    {{errList.errorList(account.getErrors('passwordConfirm')) }}
                                {% endif %}
                            </div>
                            </div>
                            <div class="input-wrapper col-xs-12 c-fieldset has-text-centered">
                                <input class="c-button c-button--large c-button--cta-black" type="submit"
                                       value="Change Password">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        </div>
        </div>
    </section>
{% endblock %}
