{% extends 'shop/_layouts/main' %}

{% set number = craft.request.param('number') %}
{% set order = craft.commerce.orders.number(number).first() %}

{% if not order %}
    {% redirect 'account/orders' %}
{% endif %}

{% block main %}
    <section class="content-section order-section">
        <div class="wrapper container-fluid">
            <div class="row center-xs">
                <div class="col-xs-12 col-md-8 col-lg-6">
                    {% if not currentUser %}{% redirect '/' %}{% endif %}
                    <h1>Order {{ order }}</h1>
                    {% if not order.orderStatus.handle == 'paymentPending' and order.pdfUrl %}
                        <h4>Receipt (<a href="{{ order.getPdfUrl('receipt') }}">Download</a>)</h4>
                    {% endif %}
                    <p>If you have any questions regarding the order please email us <a
                                href="mailto:{{ siteSettings.defaultEmailAddress }}?subject=Order {{ order.id }}">{{ siteSettings.defaultEmailAddress }}</a>
                    </p>

                    {% if order.orderStatus.handle == 'paymentPending' %}
                        <div class="box">
                            <h3>Payment Instructions</h3>
                            {% include 'shop/_includes/messages/_paymentInstructionETransfer' %}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <header class="card-header">
                                    <h2 class="card-header-title">
                                        Order Details
                                    </h2>
                                </header>
                                <div class="card-content">
                                        <div class="columns is-mobile has-text-left">
                                            <div class="column">
                                    <ul class="c-list c-list--clean">
                                        <li>
                                            <strong>Date:</strong>
                                            <div class="block"> {{ order.dateOrdered }}
                                        </li>
                                        <li>
                                            <strong>Order Number:</strong>
                                            <div class="block">{{ order }}</div>
                                        </li>
                                        <li>
                                            <strong>Order Status:</strong>
                                            <div class="block"><span class="order-status order-status--{{ order.orderStatus.handle }}">{{ order.orderStatus.name }}</span></div>
                                        </li>
                                    </ul>
                                            </div>
                                    <div class="column">
                                        <strong>Tracking Number:</strong>
                                        {% if order.trackingNumber is not empty %}
                                        <div class="block"> <a href="{{ url('https://www.canadapost.ca/cpotools/apps/track/personal/findByTrackNumber', { trackingNumber: order.trackingNumber }) }}"><span
                                                        class="tracking-number">{{ order.trackingNumber }}</span></a></div>
                                        {% else %}
                                            <p class="box">You will be emailed the tracking number upon order
                                                shipment.</p>
                                        {% endif %}
                                    </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <header class="card-header">
                                    <h2 class="card-header-title">
                                        Items Ordered
                                    </h2>
                                </header>
                                <div class="card-content">
                                    <ul class="c-list c-list--clean">
                                        {% for item in order.lineItems %}
                                            <li>
                                                {% include 'shop/_includes/order/_itemOrdered' %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <header class="card-header">
                                    <h2 class="card-header-title">
                                        Shipping Information
                                    </h2>
                                </header>
                                <div class="card-content">

                                        {% if order.shippingAddress %}
                                            {% include 'shop/_includes/addresses/_shippingAddress' with { address: order.shippingAddress } %}
                                        {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                    {% if order.message is not empty %}
                        <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <header class="card-header">
                                    <h2 class="card-header-title">
                                        Order Notes
                                    </h2>
                                </header>
                                <div class="card-content">
                                    {{ order.message }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <header class="card-header">
                                    <h2 class="card-header-title">
                                        Order Summary
                                    </h2>
                                </header>
                                <div class="card-content">
                                    <ul class="c-list c-list--clean has-text-left">
                                        <li>
                                            <strong>Subtotal:</strong>
                                            {{ order.itemSubtotal|commerceCurrency(cart.currency) }}
                                        </li>
                                        {% for adjustment in order.adjustments %}
                                            <li>
                                                <strong>{{ adjustment.type }}:</strong>
                                                {% if adjustment.type|lower == 'discount'  %}
                                                    <span class="sale">{{ adjustment.amount|commerceCurrency(cart.currency) }}  ({{ adjustment.name }})</span>
                                                {% else %}
                                                        {{ adjustment.amount|commerceCurrency(cart.currency) }}  ({{ adjustment.name }})
                                                {% endif %}

                                            </li>
                                        {% endfor %}
                                        <li>
                                            <strong>Total:</strong>
                                            <span class="price">{{ order.totalPrice|commerceCurrency(cart.currency) }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
