{% if currentUser %}
    {% redirect 'shop/checkout/addresses' %}
{% endif %}
{% import "shop/macros/errors.html" as errList %}
{% extends 'shop/_layouts/checkout' %}

{% block content %}
    <div class="row center-xs">
        <div class="col-xs-12 col-psm-8">
            <div class="checkout-first">
            <div class="form-filter-wrapper">
                <openclose :opened="false" :hideoct="false" class="product-form-opc">
                    <template slot="title"><h2 class="product-form__title">Sign In</h2></template>
                    <template slot="content">
                        {% include 'shop/_includes/forms/_signInForm' %}
                    </template>
                </openclose>
            </div>
        <div class="box-section">
                <p>Please sign in if you already are a member of GoodSeeds.<br>
                If you are not a member please fill out the form below, as we need to verify your age with a valid government ID.</p>
        </div>
                {% include 'shop/_includes/forms/_registerForm' %}
            </div>
        </div>
    </div>
{% endblock %}