{% extends 'shop/_layouts/checkout' %}

{% block content %}

    <div class="has-text-left">

        <h2>
            Payment Method
        </h2>

            <div class="c-radio-group">
                <div class="c-radio-wrapper">
                        <input type="radio" class="c-radio" id="c_radio_0"
                               name="paymentMethod" value="etransfer"
                               checked />
                        <label for="c_radio_0" class="c-radio-label c-radio-label--black">
                            <strong>e-Transfer</strong>
                        </label>
                    </div>
            </div>
    </div>

    <div class="has-text-left">
        <h2>e-Transfer Instructions</h2>
        <p>{{ siteSettings.paymentInstructions }}</p>
        {% if order is not defined %}
            {% set order = {'email': cart.email, 'shortNumber': cart.shortNumber } %}
        {% endif %}
        {% include 'shop/_includes/messages/_paymentInstructionETransfer' %}
    </div>

    <div class="has-text-left">
        <h2>Order Summary</h2>
        <ul class="c-list c-list--clean has-text-left">
            <li>
                <strong>Subtotal:</strong>
                {{ cart.itemSubtotal|commerceCurrency(cart.currency) }}
            </li>
            {% for adjustment in cart.adjustments %}
                <li>
                    <strong>{{ adjustment.type }}:</strong>
                    {% if adjustment.type|lower == 'discount' %}
                        <span class="sale">{{ adjustment.amount|commerceCurrency(cart.currency) }}
                            ({{ adjustment.name }})</span>
                    {% else %}
                        {{ adjustment.amount|commerceCurrency(cart.currency) }}  ({{ adjustment.name }})
                    {% endif %}

                </li>
            {% endfor %}
            <li>
                <strong>Total:</strong>
                <span class="price">{{ cart.totalPrice|commerceCurrency(cart.currency) }}</span>
            </li>
        </ul>
    </div>

    <form method="POST" class="form-horizontal">
        <input type="hidden" name="action" value="commerce/payments/pay"/>
        <input type="hidden" name="redirect" value="/account/order?number={number}"/>
        <input type="hidden" name="cancelUrl" value="/shop/checkout/payment"/>
        {{ getCsrfInput() }}


        <span class="payment-success"></span>


             <!-- Card Holder Name -->

            <input type="hidden" name="firstName"
                   maxlength="70"
                   placeholder="First Name"
                   class="card-holder-first-name u-full-width"
                   value="ssaaccdd">
            <input type="hidden" name="lastName"
                   maxlength="70"
                   placeholder="Last Name"
                   class="card-holder-last-name u-full-width"
                   value="rrggbbfhtyasx">
            <input type="hidden" name="number"
                   maxlength="19"
                   placeholder="Card Number"
                   class="card-number u-full-width"
                   value="4929000000006">
            <input type="hidden" name="cvv"
                   placeholder="CVV" maxlength="4"
                   class="card-cvc"
                   value="666">
            <input type="hidden" value="03" name="month">
            <input type="hidden" value="2020" name="year">

            <span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('firstName') }}{% endif %}</span>

            <span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('lastName') }}{% endif %}</span>
            <span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('month') }}{% endif %}</span>

            <span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('year') }}{% endif %}</span>
            <span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('cvv') }}{% endif %}</span>

            <span class="help-block">{% if paymentForm is defined %}{{ paymentForm.getError('number') }}{% endif %}</span>



        <!-- Submit -->
        <button class="c-button c-button--large c-button--cta-blue" type="submit">
            <i class="icon-lock"></i> Pay {{ cart.totalPrice|commerceCurrency(cart.paymentCurrency,convert=true) }}
            Now
        </button>


    </form>
    </div>
    </div>

{% endblock %}
