{% extends 'shop/_layouts/main' %}
{% import "shop/macros/errors.html" as errList %}
{% block main %}
<section class="contact-us">
    <div class="wrapper container-fluid">
        <div class="row center-xs">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
                <h1>Contact Us</h1>
                <form id="contact_form" class="c-form" method="post" action="" accept-charset="UTF-8">
                    {{ getCsrfInput() }}
                    <input type="hidden" name="action" value="contactForm/sendMessage">
                    <input type="hidden" name="redirect" value="contact">
                    <input id="subject" type="hidden" name="subject" value="Contact Form Submission">

                    <div class="row has-text-left">
                        <div class="input-wrapper col-xs-12 col-sm-6 c-fieldset">
                            <label for="fromName">Name</label>
                            <input id="toName" name="toName" type="text">
                            <input class="c-input {% if message is defined and message.getErrors('fromName') is not empty %}error{% endif %}"
                                   id="fromName" aria-label="Name"  type="text" name="fromName"
                                   value="{% if message is defined %}{{ message.fromName }}{% endif %}">
                            {{ message is defined and message ? errList.errorList(message.getErrors('fromName')) }}
                        </div>
                        <div class="input-wrapper col-xs-12 col-sm-6 c-fieldset">
                            <label for="fromEmail">Email *</label>
                            <input class="c-input {% if message is defined and message.getErrors('fromEmail') is not empty %}error{% endif %}"
                                   id="fromEmail" aria-label="Email" required placeholder="email@site.com"  type="email" name="fromEmail"
                                   value="{% if message is defined %}{{ message.fromEmail }}{% elseif currentUser.email %}{{ currentUser.email }}{% endif %}">
                            {{ message is defined and message ? errList.errorList(message.getErrors('fromEmail')) }}
                        </div>
                        <div class="input-wrapper col-xs-12 c-fieldset">
                            <label for="inquiryType">Inquiry Type *</label>
                            <select class="c-input-option" aria-label="Inquiry Type" name="message[inquiryType]"
                                    id="inquiryType">
                                <option value="support" selected>Support</option>
                                <option value="question">Question</option>
                                <option value="suggestion">Suggestion</option>
                            </select>
                        </div>

                        <div class="input-wrapper col-xs-12 c-fieldset">
                            <label for="message">Message *</label>
                            <textarea
                                    class="c-textarea {% if message is defined and message.getErrors('message') is not empty %}error{% endif %}"
                                    aria-label="Message" rows="10" required cols="40" id="message"
                                    name="message[body]">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
                            {{ message is defined and message ? errList.errorList(message.getErrors('message')) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-wrapper col-xs-12">
                            <input aria-label="Send" type="submit" class="c-button c-button--large c-button--cta-black"
                                   value="Send">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}