{% macro accountMenu(positionActive) %}
    {% set accountMenu = [
    {label: 'My Orders', href: '/account/orders'},
    {label: 'My Address', href: '/account'},
    {label: 'My Points', href: '/account/thcpoints'},
    {label: 'Change Password', href: '/account/change-password'}
    ] %}

    {% set classes = ' '%}
    {% set activeClass = 'is-active'%}

    <div class="controls tabs gs-tabs is-centered">
        <ul>
        {% for item in accountMenu %}
            <li {% if (loop.index == positionActive) %}class="{{activeClass}}"{% endif %}>
            <a href="{{ url(item.href) }}" class="{{ classes }}">
                {{item.label}}
            </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endmacro %}