{% macro accountMenu(positionActive) %}
    {% set accountMenu = [
    {label: 'My Orders', href: '/account/orders'},
    {label: 'My Address', href: '/account'},
    {label: 'My Points', href: '/account/points'},
    {label: 'Change Password', href: '/account/change-password'}
    ] %}

    {% set classes = ' '%}
    {% set activeClass = 'is-active'%}

    <div class="controls">
        <ul class="level">
        {% for item in accountMenu %}
            <li class="level-item has-text-centered {% if (loop.index == positionActive) %}{{activeClass}}{% endif %}">
            <a href="{{ url(item.href) }}" class="{{ classes }}">
                {{item.label}}
            </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endmacro %}