/*------------------------------------*\
		#BUTTON
\*------------------------------------*/
button{
	cursor: pointer;
}
.c-button {

	// Reset appearance
	appearance: none;
	border: none;

	display: inline-block;
	margin: (0) ($base-space / 6) ($base-space) (0);
	padding: ($base-space / 3) ($base-space);
	border-radius: 5px;
	vertical-align: middle;
	white-space: nowrap;
	line-height: inherit;
	font-size: $font-size-body;
	cursor: pointer;
	color: $text-color;
	background: color(light-grey);

	&:focus,
	&:active {
		outline: none;
	}

	&--large{
		font-size: 2.6rem;
		max-width: 30rem;
		font-weight: 500;
		width:100%;
		background: none;
		text-transform: uppercase;
	}
	&--red{

	}
	&--promotion{

		border: 2px solid $promotion-color;
		color: $promotion-color;


		&:hover{
			border: 2px solid $promotion-hover-color;
			color: $promotion-hover-color;
		}
	}
	&--cta-blue{

		border: 2px solid $cta-blue-color;
		color: $cta-blue-color;


		&:hover{
			border: 2px solid $cta-blue-hover-color;
			color: $cta-blue-hover-color;
		}
	}
	&--cta-white{

		border: 2px solid map_get($colors, white);
		color: map_get($colors, white);


		&:hover{
			border: 2px solid $cta-blue-color;
			color: $cta-blue-color;
		}
	}
	&--cta-black{

		border: 2px solid map_get($colors, black);
		color: map_get($colors, black);


		&:hover{
			border: 2px solid $promotion-hover-color;
			color: $promotion-hover-color;
		}
	}
	&--mrg-bttm{
		margin-bottom: 0;
	}
}