/*------------------------------------*\
		#BUTTON
\*------------------------------------*/
button{
	cursor: pointer;
}
.is-loading{
	color: transparent !important;
	pointer-events: none;

	&:after{
		-webkit-animation: spinAround 500ms infinite linear;
		animation: spinAround 500ms infinite linear;
		border: 2px solid $black;
		border-radius: 290486px;
		border-right-color: transparent;
		border-top-color: transparent;
		content: "";
		display: block;
		height: 1em;
		position: relative;
		width: 1em;
		position: absolute;
		left: calc(50% - (1em / 2));
		top: calc(50% - (1em / 2));
		position: absolute !important;
	}
}
.c-button {

	// Reset appearance
	appearance: none;
	border: none;

	display: inline-block;
	margin: (0) ($base-space / 6) ($base-space) (0);
	padding: ($base-space / 3) ($base-space);
	border-radius: 5px;
	vertical-align: middle;
	white-space: nowrap;
	line-height: inherit;
	font-size: $font-size-body;
	cursor: pointer;
	color: $text-color;
	background: transparent;

	&:focus,
	&:active {
		outline: none;
	}
	&--small{
		margin-bottom: 1rem;
		padding: 0.5rem 1rem;
	}

	&--large{
		font-size: 2.6rem;
		max-width: 30rem;
		font-weight: 500;
		width:100%;
		background: none;
		text-transform: uppercase;
	}
	&--cart{
		display: inline-block;
	}
	&--promotion{

		border: 2px solid $promotion-color;
		color: $promotion-color;


		&:hover{
			border: 2px solid $promotion-hover-color;
			color: $promotion-hover-color;
		}
	}
	&--cta-blue{

		border: 2px solid $cta-blue-color;
		color: $cta-blue-color;


		&:hover{
			border: 2px solid $cta-blue-hover-color;
			color: $cta-blue-hover-color;
		}
	}
	&--cta-white{

		border: 2px solid map_get($colors, white);
		color: map_get($colors, white);


		&:hover{
			border: 2px solid $cta-blue-color;
			color: $cta-blue-color;
		}
	}
	&--cta-black{

		border: 2px solid map_get($colors, black);
		color: map_get($colors, black);


		&:hover{
			border: 2px solid $promotion-hover-color;
			color: $promotion-hover-color;
		}

	}
	&--cta-black--active{

			border: 2px solid $promotion-hover-color;
			color: $promotion-hover-color;

	}
	&--mrg-bttm{
		margin-bottom: 0;
	}
}