.u-bg-yellow{
  a{
    color: #673ab7;
    a:hover{
      color: #252d31;
    }
  }
}

//light baground grey #eeebe4
//darker bg grey #dbd8d1
//purple bg #a271ec
// cyan bg #39ded1
//beige bg #dbce97
//pink bg #fc8d87


//link
//purple link light #a271ec