
.notification{
    color: $black !important;
}
    .delete{
         &:before, &:after{
            background-color: $black;
         }
    }
.content-container{
    padding: 0 $smallregular-spacing;
}

.content-section{
    padding-bottom: 3.2rem;
}
.hp-content-section{
    padding-top: $large-padding;
    padding-bottom: $large-padding;
}

.box{
    &--transparent{
        background-color: transparent;
    }
}

.fixed-bottom{
    bottom: 0;
    position: fixed;
    width:100%;

    .notification{
        margin-bottom: 0;
    }
}