.content-container{
    padding: 0 1rem;
}

.content-section{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.box{
    &--transparent{
        background-color: transparent;
    }
}

.fixed-bottom{
    bottom: 0;
    position: fixed;
    width:100%;

    .notification{
        margin-bottom: 0;
    }
}