[id^='crMz0'], [id^='crMz1'], [id^='crMz2'], [id^='crMz3'], [id^='crMz4'], [id^='crMz5'], [id^='crMz6'], [id^='crMz7'], [id^='crMz8'], [id^='crMz9']{
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  left: 0 !important;
  top: 0 !important;
  visibility: hidden !important;
  line-height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;

  a{
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    left: 0 !important;
    top: 0 !important;
    visibility: hidden !important;
    line-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
.mz-zoom-window{
  z-index: 4 !important;
}
.selectors{
  padding: ($base-space) * 0.3;
}
.product-page{
 // padding-top: 3.2rem;
}

.product-heading{
  text-transform: capitalize;
  font-size: 4rem;
}

.product-tab-button{
  padding-left: 0;
  padding-right: 0;
}
.product{
  .product-heading{
    display: inline-block;
    margin-bottom: ($base-space / 3.33);
  }
  .product-strain-type{
    display: inline-block;
    //margin-left: 1.3rem;
  }
  .product-buy-wrapper{
    padding-bottom: ($base-space) * 0.6;
  }
  .add-to-cart{
    margin-bottom:  ($base-space) * 0.6;
  }
}

.product-variants{
  .radio-wrapper{

    margin-right: 0.2rem;
    &:last-of-type{
      margin-right: 0;
    }

    position: relative;
    display: inline-block;


    input[type="radio"]{
      opacity: 0;
      height: 0;
      width: 0;
      visibility: hidden;
      position: absolute;
    }
    label{
      margin-top: 0;
      margin-left: 0;
      text-align: center;
      display: inline-block;
      position: relative;
      cursor: pointer;



      font-family: $font-headings;

      .radio-face{
       height: 4rem;
        width: 4rem;
      }

    }

    input[type="radio"]:checked ~ label{
      border: 2px solid $promotion-hover-color;
      color: $promotion-hover-color;
      .radio-face {
      }

    }
  }
  input[type="radio"]:disabled ~ label{
    cursor: not-allowed;
    border: 2px solid map-get($colors, mid-grey) !important;
    .variant-weight{
      color:  map-get($colors, mid-grey) !important;
    }

    &:hover{
      border: 2px solid map-get($colors, mid-grey) !important;
     .variant-weight{
        color:  map-get($colors, mid-grey) !important;
      }
    }
  }

}
.share-links{
  a{
    color: $black;
    &:hover{
     color: $pastelGreen;
    }
  }
  i{
    font-size: 2rem;
  }
 }
.product-footer{
  border-radius: 0.5rem;
}

.tag{
  font-size: 2rem;
  background-color: $pinkPastel;
  color: $white;
  a.tag-link{
    color: $white;
    &:hover{
      text-decoration: underline;
    }
  }
}

.progress-container{
  display: block;
  width: 100%;
  height: 4.5rem;
  margin-bottom: ($base-space / 2.148);
  border-radius: 999px;
  position: relative;
  border: 2px solid $black;

  .progress-title{
    position: absolute;
    left: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;

    a.effect-link{
      color: $black;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .progress-bar{
    display: block;
    height: 100%;
    border-radius: 999px;

    &--effect{
      background-color: $pastelGreen;
    }
    &--medical{
      background-color: $cta-blue-color;
    }
  }
}

//reviews
.login-review-message{
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  padding-top: ($base-space / 2.148);
    p{
      font-size: larger;
       margin-bottom: 0;
    }
}



@include bpmax(small){
  .product-heading{
    font-size: map-get($heading-sizes, 3);
    margin-bottom: ($base-space / 2.148);
    display: inline-block;
    text-align: left;
  }
}
@include bpmax(large){
  .product-header.box{
    padding-left: 0;
    padding-right: 0
  }
}
@include bp(medium){
  .product-page{
     padding-top: 3.2rem;
  }
  .product-heading{
       margin-top: ($base-space / 3.33);
  }
}

