[id^='crMz0'], [id^='crMz1'], [id^='crMz2'], [id^='crMz3'], [id^='crMz4'], [id^='crMz5'], [id^='crMz6'], [id^='crMz7'], [id^='crMz8'], [id^='crMz9']{
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  left: 0 !important;
  top: 0 !important;
  visibility: hidden !important;
  line-height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;

  a{
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    left: 0 !important;
    top: 0 !important;
    visibility: hidden !important;
    line-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.product-variants{

  .radio-wrapper{
    position: relative;
    input[type="radio"]{
      opacity: 0;
      height: 0;
      width: 0;
      visibility: hidden;
    }
    label{
      display: inline-block;
      position: relative;
      cursor: pointer;

      .radio-face{
       height: 6rem;
        width: 6rem;
        border: grey 2px solid;
      }
    }

    input[type="radio"]:checked ~ label .radio-face {
      border: 2px solid black;

      .variant-weight{

      }
    }
  }

}
.product-attributes{
    meter{
      height: 7.5rem;
      width: 100%;

    }
}