
.site-footer{
  width: 100%;
  padding: $large-spacing $small-spacing;
  display: block;
  //border-top: 1px solid $darkBrown;

  h5{
    margin-top: $small-spacing;
  }
  a{
    color: $link-header-color-hover;
    font-family: $font-menu;
    letter-spacing: $cookies-letter-spacing;
    font-size: $medium-font;

    &:hover{
      color:  $footer-font-color;
    }

    &.support-email{
      font-family: $font-copy;
      font-size: $base-font;
    }
  }
}
.site-seals{
  margin-bottom: $regular-spacing;
}
.site-seal{
  display: inline-block;
  padding: 0 $regular-spacing;

  & img{
    max-width: 100%;
    max-height: map-get($heading-sizes, 1);
  }

  &--ssl{
    height: 100%;
    img{
      width: auto;
      height: 100%;
    }
  }
}
.footer-links{
  margin-bottom: $regular-spacing;
    ul{
      li{
        display: inline-block;
      }
    }
}
.site-footer__social-links{
  margin-bottom: $regular-spacing;
}
.site-footer__site-brand{
  margin-bottom: $regular-spacing;
  &__site-slogan{
    font-family: $font-menu;
    letter-spacing: $cookies-letter-spacing;
    font-size: map-get($heading-sizes, 3);
  }

}


.site-logo__img{
  max-height: ($regular-spacing * 10);
}
.site-footer__social-links{
  ul{
    li{
      display: inline-block;
      padding: 0 $regular-spacing;
    }
  }
}

.site-footer__copyright{

}

@media only screen and (max-width: 64.063em){
  [data-mobile-padding="true"]{
    padding-bottom: 9rem;
  }
}