/*------------------------------------*\
    #FORM
\*------------------------------------*/

.c-form{
  margin: (0) (0) ($base-space);

  &--inline{
    display: inline-block;
  }
}


.c-fieldset{
  border: none;
  margin: (0) (0) ($base-space / 2);
  &--border{
    border: 2px solid $formElementBorderColor;
  }
}

.c-label{
  display: block;
  margin-bottom: ($base-space / 6);
}

.c-input{
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: ($base-space * 1.5);
  margin: (0) (0) ($base-space / 4);
  padding: ($base-space / 4) ($base-space / 3);
  //border-radius: 5px;
  vertical-align: middle;
  border: 1px solid color(light-grey);
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  border-bottom: 2px solid $formElementBorderColor;

  &:focus{
    outline: none;
    border-bottom: 2px solid $formElementBorderColorFocus;
  }

  &.error{
    border-bottom: 2px solid $formElementBorderColorError;

    &:focus{
      border-bottom: 2px solid $formElementBorderColorError;
    }
  }
}

.c-input--coupon{

}
.c-textarea{
  height: auto;
  min-height: ($base-space * 1.5);
  background: none;
  border: 2px solid $formElementBorderColor;
  width: 100%;

  &:focus{
    outline: none;
    border: 2px solid $formElementBorderColorFocus;
  }

  &.error{
    border: 2px solid $formElementBorderColorError;

    &:focus{
      border: 2px solid $formElementBorderColorError;
    }
  }

}

.c-input-option{
  display: inline-block;
  margin-right: ($base-space / 6);
  padding: 0;
  height: auto;
  width: 100%;
  border: 2px solid $formElementBorderColor;
  background: none;
  &:focus{
    outline: none;
    border: 2px solid $formElementBorderColorFocus;
  }
}
.form-controls{
  padding: 0.5rem;
}

#contact_form{
  input#toName{
    display: none;
  }
}

/*
Sign in
 */
.account-links{
  .account-link{
    display: block;
  }
}
/*
RESET Password
 */
.pwd-reset-form__email{

}

/*
User Registration
 */
.c-file-upload{
  margin-bottom: 4rem;
}
.pwd-toggle{
  position: absolute;
  background: none;
  color: map-get($colors, dark-grey);
  border: none;
  top: 0;
  right: 2rem;

  &:hover{
    text-decoration: underline;
    color: $cta-blue-color;
  }
}

.u-pos-rel{
  position: relative;
}

/*
shop page

 */

.is-black{
  color: $black;
}

///quantity component
.qty-cpt{
  display: inline-block;
  .quantity-control{

  }
  .c-button:first-of-type{
    margin-right: 0;
  }
  input{
    width: 4.5rem;
    border: 2px solid $black;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    height: 4rem;

    border-radius: 5px;
    vertical-align: middle;
    white-space: nowrap;
    line-height: inherit;
  }
}