.site-header{
  background: $header-bg-color;
  width: 100%;
  padding: 0;
  z-index: 15;
  border-bottom: 1px solid $darkBrown;

  &.fixed{
    padding: 1rem 0.5rem;
    #header_logo{
      font-size: 4rem;
    }
  }
  a{
    color: $link-header-color;
    padding: 0 0.8rem;
    font-size: 2.5rem;
    font-family: $font-menu;
    letter-spacing: $cookies-letter-spacing;

    &:hover{
      color: $link-header-color-hover;
    }
    .is-active{
      color: $link-header-color-hover;
    }
  }
  h1.logo-header{
    text-align: left;
    font-size: inherit;
    margin: 0;
  }
  #header_logo{
    font-size: 2rem;
    line-height: 1em;
    text-transform: uppercase;
    padding: 1.68rem 0;
    color: $logo-color;
    display: inline-block;
  }
  .icon-search, .icon-cancel{
   font-size: 2.5rem;

    &.searchvisible{
      color: $link-color-hover;
    }
  }

  #search{
    position: relative;

    .icon-search, .button--search{
      position: absolute;
    }
    .icon-cancel{
      font-size: 2.5rem;
    }
    .button--search{
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      color: $link-color;
      text-transform: uppercase;

      &:hover{
        color: $link-color-hover;
      }
    }
    .autocomplete-wrapper{
      background-color: $lightGrey;
      position: relative;
      padding: 0.7rem 0;

      .autocomplete ul{
        z-index: 7;
        position: absolute;
        list-style: none;
        background: $lightGrey;
        padding: 10px 0;
        margin: 0;
        display: inline-block;
        //max-width: 500px;
        width: 100%;
        min-width: 15%;
      }

      .autocomplete ul li a{
        text-decoration: none;
        display: block;
        padding: 5px;
        padding-left: 10px;
        font-family: $font-copy;
        font-size: 1.68rem;
      }

      .autocomplete ul li a .search-string-match{
        color:  $cta-blue-color !important;
      }

      .autocomplete ul li a:hover, .autocomplete ul li.focus-list a{
        color: $white;
        background: $link-color;
      }

      .autocomplete ul li a span{
       /* display: block;
        margin-top: 3px;
        color: grey;
        font-size: 13px;*/
      }

      .autocomplete ul li a:hover span, .autocomplete ul li.focus-list a span{
        color: white;
      }

      .showAll-transition{
        opacity: 1;
        height: 50px;
        overflow: hidden;
      }

      .showAll-enter{
        opacity: 0.3;
        height: 0;
      }

      .showAll-leave{
        display: none;
      }

    }
    input{
      box-sizing: border-box;
      width: 100%;
      height: ($base-space * 1.5);
      vertical-align: middle;
      line-height: 1;
      display: inline-block;
      background: none;
      font: inherit;
      color: inherit;
      border: none;
      max-width: 100%;
      width: 100%;
      padding:0 4.5rem;

      color: $link-header-color;
      &:focus{
        border: none;
        outline: none;
      }
      &::placeholder{
        color: $link-header-color;
      }
    }
    button{
      display: inline-block;
      margin-left: -3rem;
      border: none;
      background: none;
      color: $link-header-color;

      &:hover{
        color: $link-header-color-hover;
      }
    }
  }
}

.main-nav-wrapper{
  border-top: solid 1px $link-header-color;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

/* mobile toggle */
.mobile-nav-toggle{
  color: $link-header-color;
  font-size: 1.5rem;
}

#mobile_nav_toggle{
  .icon-search{
    margin-right: 2rem;
  }
}

#nav-icon{
  transform: rotate(0deg);
  position: relative;
  margin: 0 auto;
  transition: .5s ease-in-out;
  cursor: pointer;

  width: 30px;
  height: 20px;

  display: inline-block;

  span{
    transform: rotate(0deg);
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: $link-header-color;
    opacity: 1;
    transition: .25s ease-in-out;

    &:nth-child(1),
    &:nth-child(2){
      top: 0;
    }
    &:nth-child(3),
    &:nth-child(4) {
      top: 7px;
    }

    &:nth-child(5),
    &:nth-child(6) {
      top: 14px;
    }

    &:nth-child(odd){
      left: 0;
      border-radius: 9px 0 0 9px;
    }
    &:nth-child(even){
      left: 50%;
      border-radius: 0 9px 9px 0;
    }
  }
  &.open{
    span{
      &:nth-child(1){
        left: 5px;
        top: 7px;
      }
      &:nth-child(2){
        left: 5px;
        top: 7px;
      }
      &:nth-child(3){
        left: -50%;
        opacity: 0;
      }
      &:nth-child(4){
        left: 100%;
        opacity: 0;
      }
      &:nth-child(5){
        left: 5px;
        top: 8px;
      }
      &:nth-child(6){
        left: calc(50% - 10px);
        top: 8px;
      }

      &:nth-child(1),
      &:nth-child(6){
        transform: rotate(45deg);
      }
      &:nth-child(2),
      &:nth-child(5){
        transform: rotate(-45deg);
      }
      &:nth-child(3),
      &:nth-child(4){
        top: 7px;
      }
    }
  }
}

.content-wrapper{
  .breadcrumb{
    overflow: hidden;
    margin-top: 1rem;

    a{
      font-size: 1.6rem;
    }
  }

}
// for fixed menu
/*
#main > section:first-child,.main-nav-mobile-wrapper{
  padding-top: 2.4rem;
}
.secure-checkout-page #main > section:first-child{
  padding-top: 5rem;
}
@include bp(small){
  #main > section:first-child,.main-nav-mobile-wrapper{
    padding-top: 3rem;
  }
  .secure-checkout-page #main > section:first-child{
    padding-top: 7rem;
  }
}
@media only screen and (min-width: 64.063em){
  #main > section:first-child,.main-nav-mobile-wrapper{
    padding-top: 10rem;
  }
  .secure-checkout-page #main > section:first-child{
  padding-top: 7rem;
  }
}
@media only screen and (min-width: 64.063em){
  #main > section.checkout-page:first-child,.main-nav-mobile-wrapper{
    padding-top: 7rem;
  }
}
*/

@media only screen and (min-width: 25em){
  #header #header_logo {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 31.250em){
  #header #header_logo {
    font-size: 3rem;
  }
}
@include bp(small){
  #header #header_logo{
    font-size: 4rem;
  }
}
@media only screen and (max-width: 48em){
  #header #search input{
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
  }
}

@include bpmax(small){
  .site-header #search .autocomplete-wrapper .autocomplete{
    position: fixed;
    width: 100%;
    left: 0;

    ul{
      max-width: none;
      width: 100%;
    }
  }
}



