#header{
  background: $header-bg-color;
  width: 100%;
  padding: 2rem 0.5em;

  &.fixed{
    padding: 1rem 0.5rem;
    #header_logo{
      font-size: 4rem;
    }
  }
  a{
    color: $link-header-color;
    padding: 0.8rem;
    &:hover{
      color: $link-header-color-hover;
    }
  }
  #header_logo{
    font-size: 5rem;
    line-height: 1em;
    padding: 0;
  }
  #search{
    input{
      display: inline-block;
      background: transparent;
      border-bottom: 1px solid $link-header-color;
      border-top: none;
      border-left: none;
      border-right: none;
      max-width: 100%;
      width: 70%;
      padding-right: 3rem;
      color: $link-header-color;
      &:focus{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $link-header-color-hover;
      }
    }
    button{
      display: inline-block;
      margin-left: -3rem;
    }
  }
}

.main-nav-wrapper{
  border-top: solid 1px $link-header-color;
}

/* mobile toggle */
.mobile-nav-toggle{
  color: #fff;
  font-size: 1.5rem;
}
#nav-icon{
  transform: rotate(0deg);
  position: relative;
  margin: 0 auto;
  transition: .5s ease-in-out;
  cursor: pointer;

  width: 30px;
  height: 20px;

  span{
    transform: rotate(0deg);
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: #fff;
    opacity: 1;
    transition: .25s ease-in-out;

    &:nth-child(1),
    &:nth-child(2){
      top: 0;
    }
    &:nth-child(3),
    &:nth-child(4) {
      top: 7px;
    }

    &:nth-child(5),
    &:nth-child(6) {
      top: 14px;
    }

    &:nth-child(odd){
      left: 0;
      border-radius: 9px 0 0 9px;
    }
    &:nth-child(even){
      left: 50%;
      border-radius: 0 9px 9px 0;
    }
  }
  &.open{
    span{
      &:nth-child(1){
        left: 5px;
        top: 7px;
      }
      &:nth-child(2){
        left: 5px;
        top: 7px;
      }
      &:nth-child(3){
        left: -50%;
        opacity: 0;
      }
      &:nth-child(4){
        left: 100%;
        opacity: 0;
      }
      &:nth-child(5){
        left: 5px;
        top: 8px;
      }
      &:nth-child(6){
        left: calc(50% - 10px);
        top: 8px;
      }

      &:nth-child(1),
      &:nth-child(6){
        transform: rotate(45deg);
      }
      &:nth-child(2),
      &:nth-child(5){
        transform: rotate(-45deg);
      }
      &:nth-child(3),
      &:nth-child(4){
        top: 7px;
      }
    }
  }
}


