.full-width{
  img{
    width: 100%;
  }
}

.product-cat-card--link{
  display: block;
  overflow: hidden;
  max-width: 100%;
  max-height: $medium-spacing * 10;
  cursor: pointer;
}
.product-cat-card{
  position: relative;
  margin-bottom: $regular-spacing;
  width: 100%;

  &:hover{
    .product-cat__image{
      transform: scale3d(1.05, 1.05, 1);
    }
    .product-cat-card__overlay{
      border: 1px solid map-get($colors, white);
      .product-cat__caption{
          color:  map-get($colors, white);
        }
    }
  }

  .product-cat-card__overlay{
    position: absolute;
    top: $smallregular-spacing;
    bottom: $smallregular-spacing;
    left: $smallregular-spacing;
    right: $smallregular-spacing;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.product-cat__image{
  transition: opacity 0.5s, transform 0.5s;
}

.touts{
  .tout{
    .tout__footer{
      padding-top: $regular-spacing;
    }
  }
}

