/*------------------------------------*\
		#LIST
\*------------------------------------*/

.c-list {
	margin: (0) (0) ($base-space);

	.c-list {
		margin: (0) (0) (0) ($base-space);
	}

	&-item {
		margin-bottom: ($base-space / 4);
	}

	&--clean {
		list-style-type: none;
	}
	&--inline{
		display: inline-block;
	}
}

.c-menu-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

