.screen-fill-box{
  display: flex;
  flex-flow: column;
  height: 100%;

  header#header{
    flex: 0 1 auto;
  }
  main#main{
    flex: 1 1 auto;
  }
}



.faqs{
  padding-bottom: 3.4rem;

  .faq-category{
    text-align: left;
    border-bottom: solid 2px $headings-color;
  }

  .faq{
    transition: .5s ease-in-out;
    margin: 1.5rem 0;

    .faq__question{
      cursor: pointer;
      font-size: 2.5rem;
    }

    .faq__answer{
      display: none;
    }
    &--active{
      .faq__answer{
        display: block;
        font-size: 1.8rem;
      }
    }
  }
}