.screen-fill-box{
  display: flex;
  flex-flow: column;
  height: 100%;

  header#header{
    flex: 0 1 auto;
  }
  main#main{
    flex: 1 1 auto;
  }
}



.faqs{
  padding-bottom: $large-spacing;

  .faq-category{
    text-align: left;
  }

  .faq{
    transition: .5s ease-in-out;
    margin: $regular-spacing 0;

    .faq__question{
      cursor: pointer;
      font-size: $medium-font;
    }

    .faq__answer{
      display: none;
    }
    &--active{
      .faq__answer{
        display: block;
        font-size: $base-font;
      }
    }
  }
}