.messages{

}
.notification.sucess{
  background-color: $pastelGreen;
}
.notification{
  transition: height 0.3s ease-out;
  overflow: hidden;
  height: 100%;
   &.close{
     opacity: 0;
     height: 0;
     width: 0;
   }
}