.sub-menu{
  display: none;
}
.nav-menu{
  .nav__item--active{
    & > a, a > i{
      color: $link-header-color-hover;
    }
  }
}
/*Account Nav*/

.account-nav{

}
#account_nav{
  .account-nav__item--user{
    i,span{
      font-size: $medium-font;
    }
  }
  .app-menu__item-top-nav--active.account-nav__item--user{
    & > i{
      color: $link-header-color-hover;
      font-family: $font-menu;
      letter-spacing: $cookies-letter-spacing;

      margin-right: 1rem;
    }
  }
  .account-nav__item{
    display: inline-block;
    padding: $regular-padding 0;

    &:hover{
      .sub-menu{
        position: absolute;
        display: inline-block;
        z-index: 5;
        background-color: $header-bg-color;
        left: -9rem;
        width: 15rem;
        padding: $regular-padding $small-padding;

        li{
          a{
            text-align: left;
            display: block;
          }
        }
      }
    }
  }
  .account-nav__item--user{
    position: relative;
    cursor: pointer;
    i{
      color: $link-header-color;
    }
    &:hover{
      i{
        color: $link-header-color-hover;
      }
    }
  }
  .account-nav__link--login{
    padding: $small-padding $smallregular-padding;
    border-radius: 5px;
    border: 1px solid $link-header-color;

    &:hover{
      border: 1px solid $link-header-color-hover;
    }
  }
  .app-menu__item--active .account-nav__link--login{
    border: 1px solid $link-header-color-hover;
  }
}




/* Shop Nav */
.shopping-nav{
  .shopping-nav__item{
    display: inline-block;

    &--active{
      a, i{
        color: $link-header-color-hover;
      }
    }
  }
}


/*
APP MENU
 */
.app-menu-wrapper{
  width: 100%;
  z-index: 5;
  background-color:  $fixed-nav-color;
  margin-left: 0;
  margin-right: 0;
  border-top: 1px solid $link-header-color;


  &--fixed{
    position: fixed;
    bottom: 0;
  }
}
.app-menu{

  &__item{
    padding: 0;
    cursor: pointer;

    &--active{
      .app-menu__icon, .app-menu__link{
        color: $link-header-color-hover;
      }
    }

    &:hover{
      .app-menu__icon, .app-menu__link{
        color: $link-header-color-hover;
      }
    }
  }

  a{
    font-family: $font-headings;
  }
  &__icon,&__link{
    text-align: center;
    color: $link-header-color;
  }

  &__icon{
    display: block;
    font-size: $medium-font;
  }
  &__link{
    padding: $small-padding $smallregular-padding;
    height: 100%;
    display: block;
  }
  .cart-count-wrapper{
    font-size: $medium-font;
  }
}

.mini-cart__wrapper{
  position: relative;

  .mini-cart{
    z-index: 5;
    position: absolute;
    right: 0;
    margin-top: 2rem;
    width: 30rem;
    color: $black;

    a{
      font-family: $font-copy;
      font-size: $base-font;
    }

    &--mobile{
      bottom: 7.5rem;
    }

    .close-cart{
      position: absolute;
      top: .3rem;
      right: .3rem;
      padding: 0;
      color: $black;

    }

    ul{
      li{
        margin-bottom: 0.7rem;
      }
    }
    .mini-cart__content{
      border-bottom: 1px solid $black;
      margin-bottom: .7rem;
    }
    .mini-cart__footer{
      .mini-cart__links{
        margin-top: .7rem;

        .c-button--cta-blue{

          border: 1px solid $cta-blue-color;
          color: $cta-blue-color;


          &:hover{
            border: 1px solid $cta-blue-hover-color;
            color: $cta-blue-hover-color;
          }
        }
        .c-button--cta-black{

          border: 1px solid map_get($colors, black);
          color: map_get($colors, black);


          &:hover{
            border: 1px solid $promotion-hover-color;
            color: $promotion-hover-color;
          }

        }

      }
    }
    .mini-cart__link{
      color: $link-color;

      &--underline{
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

/*shared nav items */
.cart-count-wrapper{
  position: relative;
  font-size: $medium-font;
}
.cart-count{
  background : $cart-num-items-color;
  font-family: $font-copy;
}
.count{
  text-align: center;
  line-height: 18px;
  min-width: 18px;
  float: right;
  position: absolute;
  vertical-align: baseline;
  color: #FFFFFF;
  font-size: 11px;
  letter-spacing: 0.03em;
  padding: 0 4px;
  margin: 0 -22px 0 0;
  top: 0;
  right: 50%;
  box-sizing: border-box;
  border-radius: 2px;
}
.down-arrow:before{
  content: '▾';
}

@media only screen and (max-width: 23.438em){
  .app-menu .app-menu__link {
    padding: $xsmall-padding $small-padding;
  }
}
/*
Mobile Nav
 */
.main-nav-mobile-wrapper{

}
nav.mobile-nav{
  z-index: 4;
  position: fixed;

  transition: .5s ease-in-out;
  display: none;
  padding: $smallregular-padding $large-padding;


  width: 85%;
  max-width: 50rem;
  max-height: 95vh;
  height: 100vh;

  background-color: $mobileNavColor;
  overflow-x: hidden;
  overflow-y: auto;

  &--closed{
    display: none;
  }
  &--open{
    display: block;
  }

  ul li ul{
    border-left: 1px solid $white;
    margin: 0.75rem;
  }
  a{
    color: $link-header-color;

    &:hover{
      color: $link-header-color-hover;
    }
  }
  .mobile-nav__item{
    width: 100%;
    ul{
      padding-left: 2.5rem;
    }
  }
  a.mobile-nav__link{
    font-size: $regular-font;
    letter-spacing: $cookies-letter-spacing;
    padding: $small-padding 0;
    width: 100%;
    display: inline-block;
  }
}
