/*Account Nav*/

.account-nav{

}
#account_nav{
  .account-nav__item{
    display: inline-block;
  }
}




/* Shop Nav */
.shopping-nav{
  .shopping-nav__item{
    display: inline-block;
  }
}


/*
APP MENU
 */
.app-menu-wrapper{
  width: 100%;
  z-index: 5;
  background-color:  $fixed-nav-color;
  margin-left: 0;
  margin-right: 0;

  a,i{
    color: $footer-font-color;
  }

  &--fixed{
    position: fixed;
    bottom: 0;
  }
}
.app-menu{

  &__item{
    padding: 0.7em;
    cursor: pointer;
  }
  &__item--active{
    background-color:  $fixed-nav-color;
  }
  &__icon,&__link{
    text-align: center;
  }
  &__icon{
    display: block;
    font-size: 2rem;
  }
  &__link{
    display: block;
  }
}


/*shared nav items */
.cart-count-wrapper{
  position: relative;
}
.cart-count{
  background : $cart-num-items-color;
}
.count{
  text-align: center;
  line-height: 18px;
  min-width: 18px;
  float: right;
  position: absolute;
  vertical-align: baseline;
  color: #FFFFFF;
  font-size: 11px;
  letter-spacing: 0.03em;
  padding: 0 4px;
  margin: 0 -22px 0 0;
  top: 10px;
  right: 50%;
  box-sizing: border-box;
  border-radius: 2px;
}