.out-stock{
  color: $pinkPastel;
}
.price{
  color: $price-color;
}
.sale{
  color: $cta-blue-color;
}
.tracking-number{
  color: $cta-blue-color;

  &:hover{
    text-decoration: underline;
  }
}

.order-status{
  &--paymentPending{
    color: map_get($colors, cream);
  }
  &--processing{
    color: map-get($colors, dark-purple);
  }
  &--shipped{
    color: $cta-blue-color;
  }
  &--completed{
    color: $promotion-color;
  }
}
.orders-wrapper{

}

.order{
  border: 1px solid $black;
  padding: $small-spacing;
  margin-bottom: $regular-spacing;

  .order-listing{
    margin-bottom: 0;

    li{
      padding: $small-spacing 0;
      font-size: $base-font;
    }
  }
}

///order page
.order-section{
  .box{

  }


  .card{


    .card-header-title{
      font-weight: 400;
    }
  }
}

.item-card{
  margin-bottom: $regular-spacing;
}