.promotion-area{
  background-color: $promotion-bg-color;

  transition: all 0.3s ease-out;
  overflow: hidden;
  height: 100%;
  &.close{
    height: 0;
  }
}
.promotion{
  padding: 1.5rem 0;
  position: relative;

  .delete{
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }
   p{
     margin-bottom: 0;
     color: $white;
   }
}