.product-form__title{
  font-size: map-get($heading-sizes, 4);
  margin-left: 4rem;
  line-height: 1.7;

}
.product-form-opc{
  .occ-icon{
    font-size: map-get($heading-sizes, 4);
  }
}

#product_filters_form{
  .filter-group{
    margin-bottom: 1rem;

    .checkbox-wrapper{
      display: inline-block;
      margin-right: 0.7rem;
    }
  }

  .form-controls__product-filters{
    margin-top: .4rem;
  }
}

.products-list{
 padding-top: 1.5rem;
}
.product-card--link{
  display: block;
  overflow: hidden;
  max-width: 100%;
  max-height: 35rem;
  cursor: pointer;
}

.product-card-wrapper{
  margin-bottom: 1.5rem;
}
.product-card{
  display: block;
  position: relative;
  transition: all 0.3s ease-out 0s;
  overflow: hidden;
  padding: 0;
  border: 2px solid $black;
  height: 100%;


  &:hover{
    .product-card__image{
     transform: scale3d(1.1, 1.1, 1);
    }


  }

  .product-card__overlay{

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-card-header{
    overflow: hidden;
  }
  .product-card-footer{
    padding-top: 1.5rem;
  }
}
.product-card__image{
  transition: opacity 0.5s, transform 0.5s;
}
.product-card__ribbon{
  position: absolute;
  display: inline-block;
  width: 100%;
  p{
    width:100%;
    color: $white;
    text-align: center;
    margin: 1rem 0;
  }
  &--out-of-stock{
      align-self: flex-end;
      background-color: $errorColor;
  }
  &--sale{
    width: auto;
    align-self: flex-start;
    background-color: $hybrid-color;
    top:0;
    right: 0;
    padding: 1.5rem;
    span{
      color: $white
    }
  }
  &--product-rating{
    width: auto;
    align-self: flex-start;
    top:0;
    left: 0;
    padding: 1.5rem;
  }
}

