/*------------------------------------*\
		#VARIABLES
\*------------------------------------*/


/**
 * FONT SIZING
 */

$font-size-root: 		0.625rem;
$line-height-base: 		1.618;
$line-height-headings: 	1.2;

$font-size-body: 1.618rem;

$heading-sizes: (
        1: 5.545rem,
        2: 4.236rem,
        3: 3.427rem,
        4: 2.618rem,
        5: 2.148rem,
        6: 1.618rem
);

$font-size-small: 1.25rem;

/**
 * FONT WEIGHTS
 */

$font-weight-default: 	300;
$font-weight-headings: 	300;

/**
 * FONT FAMILY
 */
$font-copy-logo: 'Permanent Marker', cursive;
$font-copy: 	 'Roboto Condensed', sans-serif;//'Helvetica Neue', 'Source Sans Pro', 'Arial', sans-serif;
$font-headings: 'Quicksand', sans-serif;
$font-headings-product: 'Architects Daughter', cursive;
/**
 * BASE SPACING VALUE
 */

$base-space: ($line-height-base) * ($font-size-body);

/**
 * BREAKPOINTS
 */

$breakpoints: (
        xsmall: 	30em,
        small: 		48em,
        medium: 	64em,
        large: 		75em,
        xlarge: 	75em
);

/**
 * GRID
 */

$grid-gutter: ($base-space / 1.6);

/**
 * COLORS
 */

$colors: 	(
        dark-slate-grey:    #305F62,
        black: 				#222222,
        rick-black:         #023C40,
        dark-grey: 		    #424242,
        mid-grey: 	    	#BDBDBD,
        light-grey:     	#F1F1F1,
        lighter-grey:       #D4D2D5,
        beige:              #DBCE97,
        white: 				#ffffff,
        red: 				#F44336,
        orange-red: 		#ff5252,
        pink: 				#E91E63,
        pink-pastelle:      #fc8d87,
        purple: 			#9C27B0,
        dark-purple: 		#673AB7,
        indigo: 			#3F51B5,
        blue: 				#2196F3,
        cyan: 				#00BCD4,
        turqoise:           #39DeD1,
        green: 				#4CAF50,
        pastel-green:       #7DDF64,
        yellow: 			#FFEB3B,
        orange: 			#FF9800,
        brown: 				#795548
);

//https://coolors.co/e9f7ca-ceb5a7-ffed89-f9a03f-e25538 for reference
$colorsPostIt: 	(
        cream: 				#f7dd00,
        pink: 				#ff5252,//#FF44E3,
        yellow: 			#ffeb3b,
        orange: 			#F9A03F, //#F56400
        red: 				#E25538,
        taupe:              #4C3B4D,
        licourice:          #171500,

        lightgreyDarker:    #D4D2D5
);

//https://coolors.co/e9f7ca-ceb5a7-ffed89-f9a03f-e25538 for reference
$colorsCannabis: 	(
        cream: 				#E9F7CA,
        pink: 				#ff5252,//#FF44E3,
        yellow: 			#FFED89,
        green: 			    #6ccd6c,
        aqua: 				#6bb8ac
);


$headings-color: 	    map-get($colors, black);
$text-color: 			map-get($colors, black);
$link-color: 			map-get($colors, dark-purple);
$link-color-hover: 		map-get($colors, pastel-green);
$link-header-color:		map-get($colors, white);
$link-header-color-hover: map-get($colors, pastel-green); //#fc8d87;
$footer-font-color:     map-get($colorsPostIt, lightgreyDarker);
$link-footer-color: 			map-get($colors, dark-purple);
$link-footer-color-hover: 		#252d31;

$body-bg-color: map-get($colors, yellow);
$header-bg-color: map_get($colors, black);
$cart-num-items-color: map_get($colorsPostIt, pink);
$footer-bg-color: map_get($colors, dark-grey);

$fixed-nav-color: map_get($colors, black);
$fixed-nav-hover-color: map_get($colors, yellow);


/*
Category colours
 */

$sativa-color: map-get($colors, dark-purple);
$indica-color: map-get($colors, pink-pastelle);
$hybrid-color: map-get($colors, turqoise);
$concentrate-color: map-get($colors, yellow);

/*
Promotion Coloursrgba( $base-color,
 */
$promotion-color: map-get($colors, pastel-green);
$promotion-hover-color: darken(map-get($colors, pastel-green), 10%);

$cta-blue-color: map-get($colors, cyan);
$cta-blue-hover-color: darken(map-get($colors, cyan), 10%);

/*
Forms
 */
$formElementBorderColor: map-get($colors, black);
$formElementBorderColorFocus: map-get($colors, cyan);
$formElementBorderColorError: map-get($colors, red);


$white: map-get($colors, white);
$black: map-get($colors, black);
$pastelGreen: map-get($colors, pastel-green);
$pinkPastel: map-get($colors, pink-pastelle);
/*
*ERROR
*/
$errorColor: map-get($colors, red);
/**
 * EASINGS
 */

$easings: (
        in: 						cubic-bezier(0.755, 0.05, 0.855, 0.06),
        in-back: 			cubic-bezier(0.6, -0.28, 0.735, 0.045),
        out: 					cubic-bezier(0.23, 1, 0.32, 1),
        out-back: 			cubic-bezier(0.175, 0.885, 0.32, 1.275),
        in-out: 				cubic-bezier(0.86, 0, 0.07, 1),
        in-out-back: 	cubic-bezier(0.68, -0.55, 0.265, 1.55)
);

$transition-ease: 	map-get($easings, out) !default;
$transition-speed: 	0.25 !default;