{% set fixedFooterNav = [
{
label: "Home",
url: '',
iconClass: 'icon-home',
currentUser: false
},
{
label: "Shop",
url: 'shop',
iconClass: 'icon-shopping-bag',
currentUser: false
},
{
label: "You",
url: 'account',
iconClass: 'icon-user',
currentUser: true
},
{
label: "Sign in",
url: 'login',
iconClass: 'icon-user',
currentUser: false,
guestUser: true
},
{
label: "FAQ",
url: 'frequently-asked-questions',
iconClass: 'icon-help-circled',
currentUser: false
},
{
label: "Cart",
url: 'cart',
iconClass: 'icon-basket',
currentUser: false
}
] %}
{% set fixedFooterNav = [
{
label: "Home",
url: '',
iconClass: 'icon-home',
currentUser: false
},
{
label: "Shop",
url: 'shop',
iconClass: 'icon-shopping-bag',
currentUser: false
},
{
label: "You",
url: 'account',
iconClass: 'icon-user',
currentUser: true
},
{
label: "Sign in",
url: 'login',
iconClass: 'icon-user',
currentUser: false,
guestUser: true
},
{
label: "FAQ",
url: 'frequently-asked-questions',
iconClass: 'icon-help-circled',
currentUser: false
},
{
label: "Cart",
url: 'cart',
iconClass: 'icon-basket',
currentUser: false
}
] %}