<ul id="account_nav" class="account-nav c-list--clean" data-mobile="false">
    <li class="account-nav__item">
        <a class="button {% if page == 'products' %} active {% endif %}" href="{{ url('shop/products') }}">
            {{ "Shop"|t }}
        </a>
    </li>
        {% if currentUser %}
          <a href="{{ url('shop/customer') }}">{{ "You"|t }}</a>
          — <a href="{{ url('shop/customer/addresses') }}">{{ "My Addresses"|t }}</a>
          — <a href="{{ logoutUrl }}">Logout</a>
        {% else %}
            <li class="account-nav__item">
                   <a class="account-nav__link" href="/register">{{ "Register"|t }}</a>
            </li>
            <li class="account-nav__item">
                   <a class="account-nav__link" href="/login">{{ "Sign in"|t }}</a>
            </li>
        {% endif %}
    <li class="account-nav__item">
        <a class="button {% if page == 'cart' %} active{% endif %}" href="{{ url('shop/cart') }}">
            <i class="fa fa-shopping-cart">
                {% if cart.lineItems|length > 0 %}
                <span class="cart-count count">
                {{ cart.lineItems|length }}
                </span>
                {% endif %}
            </i>
        </a>
    </li>
</ul>