<ul id="account_nav" class="account-nav c-list--clean" data-mobile="false">
    <li class="account-nav__item  {% if page == 'our-story' %}app-menu__item--active {% endif %}">
        <a class="account-nav__link" href="/our-story">{{ "Our Story"|t }}</a>
    </li>
    <li class="account-nav__item {% if page == 'frequently-asked-questions' %}app-menu__item--active {% endif %}">
        <a class="account-nav__link" href="/frequently-asked-questions">{{ "FAQ"|t }}</a>
    </li>
    <li class="account-nav__item {% if page == 'contact' %}app-menu__item--active {% endif %}">
        <a class="account-nav__link" href="/contact">{{ "Contact"|t }}</a>
    </li>
    {% if currentUser %}
    <li class="account-nav__item account-nav__item--user {% if 'account' in page %}app-menu__item-top-nav--active{% endif %}">
        <i class="icon-user">You <span class="down-arrow"></span></i>
        <ul class="sub-menu user-menu c-list--clean">
            <li class="user-menu__item user-menu__item--border-bottom {% if page == 'account' %}app-menu__item--active{% endif %}">
                <a href="{{ url('account') }}">My Account</a>
            </li>
            <li class="user-menu__item user-menu__item--border-top  {% if page == 'account/orders' %}app-menu__item--active {% endif %}">
                <a href="{{url('account/orders') }}">My Orders</a>
            </li>
            <li class="user-menu__item user-menu__item--border-top">
                <a href="{{ logoutUrl }}">Sign out</a>
            </li>
        </ul>
    </li>
    {% else %}
            <li class="account-nav__item {% if page == 'register' %}app-menu__item--active {% endif %}">
                   <a class="account-nav__link" href="/register">{{ "Register"|t }}</a>
            </li>
            <li class="account-nav__item {% if page == 'login' %}app-menu__item--active {% endif %}">
                   <a class="account-nav__link account-nav__link--login" href="/login">{{ "Sign in"|t }}</a>
            </li>
        {% endif %}
    <li class="account-nav__item {% if page == 'cart' %}app-menu__item--active{% endif %}">
        <minicart cart="{{ cartJson | json_encode() }}"></minicart>
    </li>
</ul>