

<ul id="account_nav" class="account-nav c-list--clean" data-mobile="false">
    <li class="account-nav__item">
        <i :class="[{searchvisible: showSearch}, searchIconButtonClass ]" title="Click to Toggle Bar: Open, Close" @click="toggleSearchBar" class="u-cursor-pointer"></i>
    </li>
    {% if currentUser %}
    <li class="account-nav__item account-nav__item--user {% if 'account' in page %}app-menu__item-top-nav--active{% endif %}">
        <i class="icon-user"><span class="down-arrow"></span></i>
        <ul class="sub-menu user-menu c-list--clean">
            {% for item in accountMenu %}
                <li class="user-menu__item user-menu__item--border-bottom {% if page == item.href|trim('/', 'left') %}app-menu__item--active{% endif %}">
                    <a href="{{ url(item.href) }}">{{item.label}}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
    {% else %}
            <li class="account-nav__item {% if page == 'register' %}app-menu__item--active {% endif %}">
                   <a class="account-nav__link" href="/register">{{ "Register"|t }}</a>
            </li>
            <li class="account-nav__item {% if page == 'login' %}app-menu__item--active {% endif %}">
                   <a class="account-nav__link account-nav__link--login" href="/login">{{ "Sign in"|t }}</a>
            </li>
        {% endif %}
    <li class="account-nav__item {% if page == 'shop/cart' %}app-menu__item--active{% endif %}">
        <minicart cart="{{ cartJson | json_encode() }}"></minicart>
    </li>
</ul>