<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <span class="modal-heading">Verify Your Age</span>
            <span class="modal-heading">
                Are you 18 or Older?
            </span>
            <input type="checkbox" id="subscribeNews" name="subscribe" value="indica">
            <label for="subscribeNews">I am at least 18 years old</label>
            <button class="c-button">Submit</button>
        </div>
    </div>
    <button class="modal-close"></button>
</div>