<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <span class="modal-heading">Verify Your Age</span>
            <span class="modal-heading">
                Are you 18 or Older?
            </span>
            <form action="/{{ craft.request.getPath() }}" method="post" id="age_verification_form">
                {{ getCsrfInput() }}
                <input required type="checkbox" id="ageVerification" name="ageVerification" value="1">
                <label for="ageVerification">I am at least 18 years old</label>
                <button type="submit" class="c-button">Submit</button>
            </form>
        </div>
    </div>
    <button class="modal-close"></button>
</div>