<div class="app-menu-wrapper row">
<nav  data-mobile="true" class="app-menu col-xs-12">
    <div class="row center-sm">
        <div class="col-xs-12 col-sm-8">
            <ul class="c-menu-list row">
                {% for navItem in fixedFooterNav  %}
                    {% if (navItem.currentUser and not currentUser) or (navItem.guestUser is defined and navItem.guestUser and currentUser) %}

                    {% elseif navItem.label|lower != 'cart' %}
                    <li class="app-menu__item {% if page == navItem.url %}app-menu__item--active {% elseif navItem.label|lower == 'shop' and navItem.url in page and page != 'shop/cart' %} app-menu__item--active {% endif %} col-xs">
                        <a class="app-menu__link" href="/{{ navItem.url }}">
                            <i class="app-menu__icon {{ navItem.iconClass }}"></i>
                            {{ navItem.label }}
                        </a>
                    </li>
                    {% else %}
                        <li class="app-menu__item {% if page == 'shop/cart' %}app-menu__item--active{% endif %} col-xs">
                            <minicart :mobile="true" cart="{{ cartJson | json_encode() }}"></minicart>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
</div>