<div class="app-menu-wrapper app-menu-wrapper--fixed row">
<nav  data-mobile="true" class="app-menu col-xs-12">
    <div class="row center-md">
        <div class="col-xs-12 col-md-8 col-lg-6">
            <ul class="c-menu-list row">
                <li class="app-menu__item {% if page == 'home' %}app-menu__item--active{% endif %} col-xs">
                    <i class="app-menu__icon icon-home"></i>
                    <a class="app-menu__link" href="/">Home</a>
                </li>
                <li class="app-menu__item {% if page == 'home' %}app-menu__item--active{% endif %} col-xs">
                    <i class="app-menu__icon  icon-shopping-bag"></i>
                    <a class="app-menu__link" href="/shop">Shop</a>
                </li>
                <li class="app-menu__item {% if page == 'home' %}app-menu__item--active{% endif %} col-xs">
                    <i class="app-menu__icon  icon-user"></i>
                    {% if currentUser %}
                        <a class="app-menu__link" href="/account">You</a>
                    {% else %}
                        <a class="app-menu__link" href="/login">Sign in</a>
                    {% endif %}
                </li>
                <li class="app-menu__item {% if page == 'home' %}app-menu__item--active{% endif %} col-xs">
                    <i class="app-menu__icon  icon-help-circled"></i>
                    <a class="app-menu__link" href="/frequently-asked-questions">FAQ</a>
                </li>
                <li class="app-menu__item {% if page == 'home' %}app-menu__item--active{% endif %} col-xs">
                    <i class="app-menu__icon  icon-basket">
                        {% if cart.lineItems|length > 0 %}
                            <span class="cart-count count">
                                {{ cart.lineItems|length }}
                            </span>
                        {% endif %}
                    </i>
                    <a class="app-menu__link" href="/cart">Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>