<header id="header">
    <div class="container">
        <div class="row">
            <a id="header_logo" class="header__logo thcpost-f col-xs-3" href="{{ siteUrl }}">
                THCPOST
            </a>

            <div id="search" class="col-xs-6">
                <form action="{{ url('search/results') }}" class="search-form">
                    <input type="search" name="q" placeholder="Search">
                </form>
            </div>
            <div class="account-nav" data-mobile="false">
                {% include "shop/_includes/accountNav" %}
            </div>
            <div class="mobile-nav-toggle col-xs-3" data-mobile="true" >
                <div id="nav-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
            <div class="main-nav-wrapper" data-mobile="false">
                <div class="row">
                    {% include "shop/_includes/nav" %}
                </div>
            </div>

        </div>
    </div>
</header>