<ul id="account_nav" class="account-nav c-list--clean" data-mobile="false">
    <li class="account-nav__item  {% if page == 'shop' %}app-menu__item--active {% endif %}">
        <a class="account-nav__link" href="/shop">{{ "Shop"|t }}</a>
    </li>
    <li class="account-nav__item  {% if page == 'our-story' %}app-menu__item--active {% endif %}">
        <a class="account-nav__link" href="/our-story">{{ "Our Story"|t }}</a>
    </li>
    <li class="account-nav__item {% if page == 'frequently-asked-questions' %}app-menu__item--active {% endif %}">
        <a class="account-nav__link" href="/frequently-asked-questions">{{ "FAQ"|t }}</a>
    </li>
    <li class="account-nav__item {% if page == 'contact' %}app-menu__item--active {% endif %}">
        <a class="account-nav__link" href="/contact">{{ "Contact"|t }}</a>
    </li>
</ul>