<nav class="mobile-nav nav-menu" :class="navMenuStatus">
    <ul class="c-list--clean">
        <li class="mobile-nav__item {% if page == 'home' %} nav__item--active {% endif %}"><a href="/" class="mobile-nav__link">Home  <i class="icon-home"></i></a></li>
        <li class="mobile-nav__item {% if 'shop' in page %} nav__item--active {% endif %}">
            <a href="/shop" class="mobile-nav__link">Shop <i class="icon-shopping-bag"></i></a>
           
        </li>

        <li class="mobile-nav__item {% if page == 'our-story' %} nav__item--active {% endif %}"><a href="/our-story" class="mobile-nav__link">Our Story</a></li>
        <li class="mobile-nav__item {% if page == 'frequently-asked-questions' %} nav__item--active {% endif %}"><a href="/frequently-asked-questions" class="mobile-nav__link">FAQ <i class=" icon-help-circled"></i></a></li>
        <li class="mobile-nav__item {% if page == 'contact' %} nav__item--active {% endif %}"><a href="/contact" class="mobile-nav__link">Contact Us</a></li>
        {% if currentUser %}

                    <li class="mobile-nav__item">
                        <a class="mobile-nav__link {% if page == 'account' %} nav__item--active {% endif %}"  href="{{ url('account') }}">My Account</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a  class="mobile-nav__link {% if page == 'account/orders' %} nav__item--active {% endif %}" href="{{ url('account/orders') }}">My Orders</a>
                    </li>
        {% else %}
            <li class="mobile-nav__item {% if page == 'register' %}nav__item--active {% endif %}">
                <a class="mobile-nav__link" href="/register">{{ "Register"|t }}</a>
            </li>
            <li class="mobile-nav__item {% if page == 'login' %}nav__item--active {% endif %}">
                <a class="mobile-nav__link" href="/login">{{ "Sign in"|t }}</a>
            </li>
        {% endif %}
        <li class="mobile-nav__item {% if page == 'cart' %}nav__item--active {% endif %}">
            <a href="/cart" class="mobile-nav__link">Cart
                <i class=" icon-basket cart-count-wrapper">
                {% if cart.lineItems|length > 0 %}
                    <span class="cart-count count">
                        {{ cart.lineItems|length }}
                    </span>
                {% endif %}
                </i>
            </a>
        </li>
        {% if currentUser %}
        <li class="mobile-nav__item">
            <a class="mobile-nav__link" href="{{ logoutUrl }}">Sign out</a>
        </li>
        {% endif %}
    </ul>
</nav>
