<nav class="mobile-nav" :class="navMenuStatus">
    <ul class="c-list--clean">
        <li class="mobile-nav__item"><a href="/" class="mobile-nav__link">Home  <i class="icon-home"></i></a></li>
        <li class="mobile-nav__item">
            <a href="/shop" class="mobile-nav__link">Shop <i class="icon-shopping-bag"></i></a>
            <ul class="sub-menu--open c-list--clean">
                <li class="mobile-nav__item"><a href="/shop?cat=sativa" class="mobile-nav__link">Sativa</a></li>
                <li class="mobile-nav__item"><a href="/shop?cat=indica" class="mobile-nav__link">Indica</a></li>
                <li class="mobile-nav__item"><a href="/shop?cat=hybrids" class="mobile-nav__link">Hybrids</a></li>
                <li class="mobile-nav__item"><a href="/shop?cat=concentrates" class="mobile-nav__link">Concentrates</a></li>
                <li class="mobile-nav__item"><a href="/shop?cat=sales" class="mobile-nav__link">Sales</a></li>
            </ul>
        </li>

        <li class="mobile-nav__item"><a href="/our-story" class="mobile-nav__link">Our Story</a></li>
        <li class="mobile-nav__item"><a href="/frequently-asked-questions" class="mobile-nav__link">FAQ <i class=" icon-help-circled"></i></a></li>
        <li class="mobile-nav__item"><a href="/contact" class="mobile-nav__link">Contact Us</a></li>
        {% if currentUser %}
            <li class="account-nav__item account-nav__item--user">
                <i class="icon-user">You <span class="down-arrow"></span></i>
                <ul class="sub-menu--open c-list--clean">
                    <li class="mobile-nav__item">
                        <a class="mobile-nav__link"  href="{{ url('shop/customer') }}">My Account</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a  class="mobile-nav__link" href="{{ logoutUrl }}">My Orders</a>
                    </li>
                    <li class="mobile-nav__item">
                        <a class="mobile-nav__link" href="{{ logoutUrl }}">Sign out</a>
                    </li>
                </ul>
            </li>
        {% else %}
            <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="/register">{{ "Register"|t }}</a>
            </li>
            <li class="mobile-nav__item">
                <a class="mobile-nav__link" href="/login">{{ "Sign in"|t }}</a>
            </li>
        {% endif %}
        <li class="mobile-nav__item">
            <a href="/contact" class="mobile-nav__link">Cart
                <i class=" icon-basket cart-count-wrapper">
                {% if cart.lineItems|length > 0 %}
                    <span class="cart-count count">
                        {{ cart.lineItems|length }}
                    </span>
                {% endif %}
                </i>
            </a>
        </li>

    </ul>
</nav>
