{% set image = productImage %}
{% set transformedImages = craft.imager.transformImage(image,
[
{ width: 1400, ratio: 16/9},
{ width: 710, ratio: 16/9},
{ width: 200, ratio: 16/9},
{ width: 30, ratio: 1/1 , jpegQuality: 60}
],
{
    format: 'jpg',
    allowUpscale: false, mode: 'crop',
    jpegQuality: 95,
    position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%',
    interlace: true
}
) %}
{% if loop.index == 1 %}
    <div class="main-image">
            <a id="flower-group" class="MagicZoom" href="{{ transformedImages[0].url }}"
               data-mobile-options="lazyZoom: true; zoomPosition: inner;"
               data-options="hint:always; zoomPosition: inner; zoomOn: hover; expand: off;">
                <img src="{{ transformedImages[1].url }}" alt="{{ image.title }}">
            </a>
    </div>
        <div class="has-text-centered selectors">
    <a data-zoom-id="flower-group" data-image="{{ transformedImages[1].url }}"
       href="{{ transformedImages[0].url }}">
        <img src="{{ transformedImages[3].url }}" alt="{{ image.title }}">
    </a>
{% else %}
    <a data-zoom-id="flower-group" data-image="{{ transformedImages[1].url }}"
       href="{{ transformedImages[0].url }}">
        <img src="{{ transformedImages[3].url }}" alt="{{ image.title }}">
    </a>
{% endif %}
{% if loop.last %}
        </div>

            {% endif %}