{% extends 'shop/_layouts/main' %}
{% block main %}
    {% cache globally using key craft.request.path %}
    {% minify %}
    <section class="privacy-policy content-section">
        <div class="wrapper container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{ entry.title }}</h1>
                    {% for termsGroup in entry.headerText %}
                        <div class="terms-conditions__tc">
                            <h2 class="tc__heading">{{termsGroup.header}}</h2>
                            <p class="tc__text">{{termsGroup.text}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endminify %}
    {% endcache %}
{% endblock %}