{% extends "shop/_layouts/main" %}
{% import "/shop/macros/errors.html" as errList %}
{% block main %}
    {% set qualifyFreeShipping = craft.commerce.cart.totalPrice >= siteSettings.freeShipping %}
    {% set amountQualify = siteSettings.freeShipping - craft.commerce.cart.totalPrice %}
    {% set shippingAmount = qualifyFreeShipping ? 'free' :  siteSettings.shippingFlatCost %}
    <section class="content-section">
        <div class="wrapper container-fluid">
            <div class="row center-xs">
                <div class="col-xs-12 col-md-10 col-lg-7">
                    <h1>Cart</h1>
                    <div class="box">
                        <div>Cart subtotal ({{ cart.totalQty }}
                            items): {{ cart.itemSubTotal|commerceCurrency(cart.currency) }} +
                            <strong>{{ shippingAmount }}</strong> shipping
                        </div>
                        {% if not qualifyFreeShipping %}
                            <div>{{ amountQualify | commerceCurrency(cart.currency) }} until you qualify for free
                                shipping <a href="{{ url('/shop') }}">Continue Shopping</a>.
                            </div>
                        {% endif %}
                    </div>

                    <div class="box">
                        <ul class="c-list c-list--clean">
                            {% for item in cart.lineItems %}
                                <li>
                                    {% include 'shop/_includes/order/_itemOrderedCart' %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="box">
                        <form method="POST">
                            <input type="hidden" name="action" value="commerce/cart/updateCart">
                            <input type="hidden" name="redirect" value="shop/cart">
                            {{ getCsrfInput() }}
                            <input type="text" name="couponCode" width="11"
                                   class="{% if cart.getError('couponCode') %}is-danger{% endif %} c-input" value=""
                                   placeholder="{{ "Coupon Code"|t }}">
                            {% if cart.getError('couponCode') %} {{ errList.errorList([cart.getError('couponCode')]) }} {% endif %}

                            <button type="submit" class="c-button c-button--cta-black">Apply Coupon</button>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <header class="card-header">
                                    <h2 class="card-header-title">
                                        Order Summary
                                    </h2>
                                </header>
                                <div class="card-content">
                                    <div class="level">
                                        <div class="level-left">
                                            <div class="level-item">
                                                Subtotal
                                            </div>
                                        </div>
                                        <div class="level-right">
                                            <div class="level-item">
                                                {{ cart.itemSubTotal|commerceCurrency(cart.currency) }}
                                            </div>
                                        </div>
                                    </div>
                                    {% if cart.totalDiscount|commerceCurrency(cart.currency) > 0 %}
                                        <div class="level">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    Total Discount:
                                                </div>
                                            </div>
                                            <div class="level-right">
                                                <div class="level-item">
                                                    {{ cart.totalDiscount|commerceCurrency(cart.currency) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="level">
                                        <div class="level-left">
                                            <div class="level-item">
                                                Shipping
                                            </div>
                                        </div>
                                        <div class="level-right">
                                            <div class="level-item">
                                                <p><strong>{{ shippingAmount }}</strong> shipping</p>
                                                {% if not qualifyFreeShipping %}
                                                    <p>{{ amountQualify | commerceCurrency(cart.currency) }} until you
                                                        qualify for free
                                                        shipping <a href="{{ url('/shop') }}">Continue Shopping</a>.</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="level">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <strong>Total</strong>
                                            </div>
                                        </div>
                                        <div class="level-right">
                                            <div class="level-item">
                                                {{ cart.totalPrice|commerceCurrency(cart.currency) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
{% endblock %}