{% extends 'shop/_layouts/main' %}
{% import "shop/macros/product.html" as prodmac %}
{% set imageSetting = { width: 460, ratio: 4/3 , jpegQuality: 85} %}
{% block promotions %}
    <div class="promotion-area u-bg-pastel-green has-text-centered">
        <div class="wrapper container-fluid">
            <div class="promotion">
                <button class="delete" onclick="this.parentNode.parentNode.parentNode.classList.add('close')"></button>
                <p class="promotion-text">Free Shipping on all orders over ${{ siteSettings.freeShipping }}! </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block main %}
<section class="hp-content-section u-text-center product-categories u-brd-bttm-black">
    <div class="wrapper container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2>Shop by Category</h2>
                <div class="row">
                    {% cache  globally using key "product-categories-" ~ craft.request.path %}
                            {% include '/shop/_includes/home/_productCatItem.html' %}
                    {% endcache %}
                </div>
            </div>
        </div>
    </div>
</section>

{%  set thcpicksSection = craft.entries.section('thcpicks').first() %}
    {%  set thcpicks = thcpicksSection.thcpicks %}
    {% if thcpicks |length > 0 %}
        <section class="hp-content-section about u-text-center u-brd-bttm-black">
            <div class="wrapper container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="about__section-header">THC Picks</h2>
                        <div class="thcpicks-list products-list row">
                            {% cache  globally using key "thcpicks-" ~ craft.request.path %}
                                {% for product in thcpicks %}
                                    {% include '/shop/_includes/product/_productCard.html' %}
                                {% endfor %}
                            {% endcache %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% set sales = craft.commerce.products({
        status: 'live',
        limit:  4,
        hasSales: true,
        hasVariant: {hasStock: true},
        order: 'postDate DESC'
    }) %}
    {% if sales|length > 0 %}
        <section class="hp-content-section about u-text-center u-brd-bttm-black">
            <div class="wrapper container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="about__section-header">Hot Deals</h2>
                        <div class="thcpicks-list products-list row">
                            {% cache  globally using key "hot-deals-" ~ craft.request.path %}
                                {% for product in sales %}
                                    {% include '/shop/_includes/product/_productCard.html' %}
                                {% endfor %}
                            {% endcache %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
<section class="hp-content-section about u-text-center u-brd-bttm-black">
    <div class="wrapper container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="about__section-header">{{entry.aboutSectionHeader}}</h2>
                <div class="about__short-description">{{entry.aboutBlurb}}</div>
                <a class="c-button c-button--large c-button--cta-black" href="/our-story">Learn More</a>
            </div>
        </div>
    </div>
</section>

<section class="hp-content-section customer-assurance u-text-center u-brd-bttm-black">
    <div class="wrapper container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="customer-assurance__header section-header">{{entry.toutSectionHeader}}</h2>
                <div class="touts row">
                    {% cache  globally using key "touts-" ~ craft.request.path %}
                    {% for tout in entry.touts %}
                        {% include '/shop/_includes/home/_tout.html' %}
                    {% endfor %}
                    {% endcache %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hp-content-section questions-concerns u-text-center">
    <div class="wrapper container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="section-header u-text-center">Questions or Concerns</h2>
                <p>Let us put your mind at ease, please visit our <a href="/frequently-asked-questions">FAQ</a> for
                    common questions or contact us us via <a href="/contact">contact</a> form or email
                    <a href="mailto:{{siteSettings.defaultEmailAddress}}">{{siteSettings.defaultEmailAddress}}</a> and
                    we will get back to you as soon as possible.
                </p><a href="/shop/products" class="c-button c-button--large c-button--cta-black">Shop Now</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}