{% extends 'shop/_layouts/main' %}

{% block main %}
	<section class="product">

	</section>

	<section class="about">
		<h2 class="section-header">Farm to Bong</h2>
		<a href="about"> Learn More</a>
	</section>

	<section class="customer-assurance">
		{% cache %}
			{% for touts in entry.touts %}
			{% if faq.type == "faqCategory" %}
			<h2 class="faq-category">{{faq.category}}</h2>
			{% else %}
			<div class="faq" id="faq{{faq.sortOrder}}">
				<h3 class="faq__question">{{faq.question}}</h3>
				<div class="faq__answer">{{faq.answer}}</div>
			</div>
			{% endif %}
			{% endfor %}
		{% endcache %}
	</section>
	<section class="questions-concerns">
		<h2 class="section-header">Questions or Concerns</h2>
		<p>Let us put your mind at ease, please visit our FAQ for common questions or contact us us via <a href="/contact">contact</a> form or email
			<a href="mailto:{{siteSettings.defaultEmailAddress}}">{{siteSettings.defaultEmailAddress}}</a> and we will get back to you as soon as possible.</p>
	</section>
<a href="/shop" class="button">Shop Now</a>
{% endblock %}