.bnc{
  margin: 0 auto;
  max-width: 34rem;

    .product-info-wrapper{
      padding: 0 $regular-spacing;
    }
    .product-buy-now{
      padding: $small-spacing $regular-spacing 0;

      .in-stock-controls{
        position: relative;
        margin-top: $regular-spacing;

        .conversion-chart-link{
          position: absolute;
          left: 0;
          top: -3rem;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .product-price-wrapper{
      span{
        display: block;
      }
      .sale-price{
        color: $cta-blue-color;
      }
      .price{
        font-size: $regular-font;
        color: $price-color;
      }
  }
}

.product-strain-type{
  border-radius: 5px;
  padding: $small-spacing $regular-spacing;
  font-weight: 500;
  border: 2px solid $black;
  font-size: map-get($heading-sizes, 4);
  margin-bottom: ($base-space / 2.148);
  display: inline-block;
  cursor: help;

  &:hover{
    text-decoration: dotted;
  }
}
