.bnc{
  margin: 0 auto;
  max-width: 34rem;

    .product-info-wrapper{
      padding: 0 1.5rem;
    }
    .product-buy-now{
      padding: 0.7rem 1.5rem 0;

      .in-stock-controls{
        position: relative;
        margin-top: 1.333rem;

        .conversion-chart-link{
          position: absolute;
          left: 0;
          top: -3rem;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    .product-price-wrapper{
      span{
        display: block;
      }
      .sale-price{
        color: $hybrid-color;
      }
      .price{
        font-size: 2rem;
        color: $promotion-color;
      }
  }
}

.product-strain-type{
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  font-weight: 500;
  border: 2px solid $black;
  font-size: map-get($heading-sizes, 4);
  margin-bottom: ($base-space / 2.148);
  display: inline-block;
  cursor: help;

  &:hover{
    text-decoration: dotted;
  }
}
