{% extends 'shop/_layouts/main' %}

{% block main %}
<section class="contact-us u-bg-beige">
    <div class="wrapper container-fluid">
        <div class="row center-xs">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h1>Forgotten Password</h1>
                <p>Please enter your email and we will send a password reset link to you right away.</p>
                <form method="post" class="forgotten-password-form" accept-charset="UTF-8">
                    {{ getCsrfInput() }}
                    <input type="hidden" name="action" value="users/sendPasswordResetEmail">
                    <input type="hidden" name="redirect" value="">

                    <div class="row">
                        <div class="input-wrapper col-xs-12 c-fieldset">
                            <input class="pwd-reset-form__email c-input {% if errors is defined %}error{% endif %}"
                                   aria-label="Email" placeholder="Email" id="loginName" type="email" name="loginName"
                                   value="{{ craft.session.rememberedUsername }}">
                            {% if errors is defined %}
                                <ul class="c-list c-list--clean c-list--error">
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-wrapper col-xs-12">
                            <input aria-label="Send" type="submit" class="c-button c-button--large c-button--cta-white"
                                   value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}