{% extends 'shop/_layouts/main' %}
{% import "shop/macros/errors.html" as errList %}
{% block main %}
<section class="content-section">
    <div class="wrapper container-fluid">
        <h1 class="page-title">Forgotten Password</h1>
        <div class="row center-xs">
            <div class="col-xs-12 col-sm-6 col-lg-5">
                <p class="box">Please enter your email and we will send a password reset link to you right away.</p>
                <form method="post" class="forgotten-password-form" accept-charset="UTF-8">
                    {{ getCsrfInput() }}
                    <input type="hidden" name="action" value="users/sendPasswordResetEmail">
                    <input type="hidden" name="redirect" value="">

                    <div class="row box">
                        <div class="input-wrapper col-xs-12 c-fieldset has-text-left">
                            <label for="loginName">Email *</label>
                            <input class="pwd-reset-form__email c-input {% if errors is defined %}error{% endif %}"
                                   aria-label="Email" placeholder="email@site.com" id="loginName" type="email" name="loginName"
                                   value="{{ craft.session.rememberedUsername }}">
                            {% if errors is defined %}
                                {{errList.errorList(errors) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-wrapper col-xs-12">
                            <input aria-label="Send" type="submit" class="c-button c-button--large c-button--cta-black"
                                   value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}