{% import "shop/macros/errors.html" as errList %}
{% extends 'shop/_layouts/main' %}

{% block main %}
<section class="sign-in">
    <div class="wrapper container-fluid">
        <div class="row center-xs">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h1>Sign In</h1>
                <form method="post" class="login-form" accept-charset="UTF-8">
                    {{ getCsrfInput() }}
                    <input type="hidden" name="action" value="users/login">
                    {% set redirect = craft.request.getUrlReferrer() %}
                    <input type="hidden" name="redirect" value="{{ redirect }}"/>
                    <div class="box">
                    <div class="row has-text-left">
                        <div class="input-wrapper col-xs-12 c-fieldset">
                            <label for="email">Email *</label>
                            <input class="login-form__login-email c-input {% if message is defined and message.getErrors('loginName') is not empty %}error{% endif %}"
                                   aria-label="Email" placeholder="email@site.com" id="loginName" type="email" name="loginName"
                                   value="{{ craft.session.rememberedUsername }}">
                            {{ message is defined and message ? errList.errorList(message.getErrors('loginName')) }}
                        </div>
                        <div class="input-wrapper u-pos-rel col-xs-12 c-fieldset">
                            <label for="password">Password *</label>
                            <password {% if message is defined and message.getErrors('password') is not empty %}hasError="true"{% endif %}></password>
                            {{ message is defined and message ? errList.errorList(message.getErrors('password')) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-wrapper col-xs-12 c-fieldset">
                    <label>
                        <input class="login-form__remember" aria-label="Remember Me" checked type="checkbox" name="rememberMe" value="1">
                        Remember me
                    </label>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="input-wrapper col-xs-12">
                            <input aria-label="Send" type="submit" class="c-button c-button--large c-button--cta-black"
                                   value="Sign In">
                        </div>
                    </div>
                </form>
                <p class="account-links">
                    <a class="account-link account-link--register" href="/register">Register</a>
                    <a class="account-link account-link--forgotten-password"  href="/forgotten-password">Forget your password?</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}