{% extends 'shop/_layouts/main' %}

{% block main %}
    <section class="sign-in">
        <div class="wrapper container-fluid">
            <div class="row center-xs">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <h1>Register</h1>
                    <form enctype="multipart/form-data" class="user-registration-form"  id="user_register" method="post" accept-charset="UTF-8">
                        {{ getCsrfInput() }}
                        <input type="hidden" name="action" value="users/saveUser">
                        <input type="hidden" name="redirect" value="">

                        {% macro errorList(errors) %}
                            {% if errors %}
                                <ul class="c-list c-list--clean c-list--error">
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endmacro %}

                        {% from _self import errorList %}

                        <div class="row">
                            <div class="input-wrapper col-xs-12 c-fieldset">
                                <input class="c-input {% if account is defined and account.getErrors('email') %}error{% endif %}" placeholder="Email *" required aria-label="Email" id="email" type="email"
                                       name="email"
                                        {%- if account is defined %} value="{{ account.email }}"{% endif %}>

                                {% if account is defined %}
                                    {{ errorList(account.getErrors('email')) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-wrapper u-pos-rel col-xs-12 c-fieldset">
                                <input class="c-input {% if account is defined and account.getErrors('password') %}error{% endif %}" aria-label="password" placeholder="Password *" required id="password"
                                      :type="pToggle" v-model="password" name="password">
                                    <button type="button" class="pwd-toggle" @click.self.prevent="togglePassword">Show</button>
                                {% if account is defined %}
                                    {{ errorList(account.getErrors('password')) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-wrapper u-pos-rel col-xs-12 c-fieldset">
                                <input class="c-input {% if account is defined and account.getErrors('passwordConfirm') %}error{% endif %}" aria-label="Password Confirmation" placeholder="Confirm Password *" required id="password_confirmation"
                                        :type="pcToggle" v-model="passwordConfirm" name="passwordConfirm">
                                    <button type="button" class="pwd-toggle" @click.self.prevent="togglePasswordConfirmation">Show</button>
                                {% if account is defined %}
                                    {{ errorList(account.getErrors('passwordConfirm')) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-wrapper col-xs-12 c-fieldset c-file-upload">
                                <label for="fields[userGovernmentId]">Upload ID *</label>
                                <p>Please upload a valid Canadian government photo ID, showing you are over the age of {{ siteSettings.minAge }}, such as a drivers license or passport.</p>
                                 <input required name="fields[userGovernmentId]" type="file" accept="image/*;capture=camera">
                            </div>
                            {% if account is defined %}
                                {{ errorList(account.getErrors('fields[userGovernmentId]')) }}
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="input-wrapper col-xs-12 c-fieldset">
                                <input class="c-button c-button--large c-button--cta-white" type="submit"
                                       value="Register">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% set vue %}
          new Vue({
          el: '.user-registration-form',
          delimiters: ['{|', '|}'],
          data: {
                pToggle: 'password',
                pcToggle: 'password',
                password: '',
                passwordConfirm: '',
          },
          methods: {
                togglePassword(e){
                    e.preventDefault();
                    this.pToggle = this.pToggle === 'password' ? 'text' : 'password'
                e.target.innerText === 'Hide' ? e.target.innerText = 'Show' :  e.target.innerText = 'Hide';
                },
                togglePasswordConfirmation(e){
                    e.preventDefault();
                    this.pcToggle = this.pcToggle === 'password' ? 'text' : 'password'
                    e.target.innerText === 'Hide' ? e.target.innerText = 'Show' :  e.target.innerText = 'Hide';
                }
         },
          });
    {% endset %}
    {% includeJs vue %}
{% endblock %}